.flex-outer {
  list-style-type: none;
  padding: 0;
  max-width: 800px;
  margin: 0 auto;

  label {
    flex: 1 0 120px;
    max-width: 220px;
    padding: 8px;
    font-weight: 300;
    letter-spacing: .09em;
    font-family: 'Myriad-Regular', 'sans-serif';
    font-size: 12px;
  }

  p {
    padding: 8px;
    font-weight: 300;
    letter-spacing: .09em;
    flex: 1 0 120px;
    max-width: 220px;
    margin: 0;
  }

  button {
    border: none;
    letter-spacing: .09em;
    position: relative;
    z-index: 9999;
  }

  textarea {
    width: 100%;
    min-height: 300px;
    border: 1px solid $basic-form-border-color;
  }
}


.flex-outer input:not([type='checkbox']),
.flex-outer select {
  padding: 10px;
  background-color: white;
  width: 100%;
  border: 1px solid $basic-form-border-color;
}