/*====================================
  Our line styles
=====================================*/
img.design-line-top, img.design-line-right-top {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 9999;
}

img.footer-top-elem {
  bottom: 0;
  z-index: 99999;
  height: 25px;
  left: 0;
  position: absolute;
  width: 50%;
}

@media only screen and (min-width: 992px){
  img.footer-top-elem {
    bottom: 0;
    z-index: 99999;
    height: 50px;
  }

  img.design-line-top {
    position: absolute;
    top: -7rem;
    z-index: 9999;
    right: 62rem;
  }

  img.design-line-right-top {
    position: absolute;
    top: -1rem;
    z-index: 9999;
    right: 15rem;
  }
}

