/*====================================
  Our Modal styles
=====================================*/
.btn-modal {
  display: inline-flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  top: -7rem;
}

.btn-modal > label {
  background: $dark-green;
  border: 1px solid $light-green;
  text-transform: uppercase;
  color: $white;
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.55s;
  -webkit-transition: all 0.55s;
  -moz-transition: all 0.55s;
  -o-transition: all 0.55s;
  margin: auto;
  padding: 0.75em 1.5em;
  font-family: Arial;
  font-size: 14px;
  &:hover {
    background-color: $svg-brown;
    color: $white;
  }
}
.btn-modal > label:hover {
  transform: scale(0.97);
  -webkit-transform:scale(0.97);
  -moz-transform: scale(0.97);
  -o-transform: scale(0.97);
}
.modal__overlay {
  background: $white;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  text-align: center;
  text-shadow: none;
  top: 0;
  z-index: 600;
}
.modal__wrap {
  padding: 1em;
  position: relative;
  margin: 0 auto;
  max-width: 500px;
  top: 10%;
  width: 90%;
  overflow: auto;
}
@media (min-width: 50em) {
  .modal__wrap {
    padding: 1.75em;
  }
}
@media (min-height: 37.5em) {
  .modal__wrap {
    left: 50%;
    position: absolute;
    top: 90%;
    height: 100%;
    margin-bottom: 2rem;
    transform: translate(-50%, -80%);
    -ms-transform: translateY(-50%, -80%);
    -webkit-transform: translateY(-50%, -80%);
    -moz-transform: translateY(-50%, -80%);
    -o-transform: translateY(-50%, -80%);
    border: 2px solid $dark-green;
  }
}
.modal__wrap label {
  background: $dark-green;
  border-radius: 50%;
  color: $white;
  cursor: pointer;
  display: inline-block;
  height: 1.5em;
  line-height: 1.5;
  position: absolute;
  right: .5em;
  top: .5em;
  width: 1.5em;
}
.modal__wrap h2 {
  margin-bottom: 1em;
  text-transform: uppercase;
}
.modal__wrap p {
  color: $light-green;
  text-align: justify;
}
.btn-modal input:focus ~ label {
  transform: scale(0.97);
  -webkit-transform:scale(0.97);
  -moz-transform: scale(0.97);
  -o-transform: scale(0.97);
}

.btn-modal input {
  margin: auto;
  position: absolute;
  z-index: -1;
}

.modal__overlay {
  opacity: 0;
  transform: scale(0.5);
  -webkit-transform:scale(0.5);
  -moz-transform: scale(0.5);
  -o-transform: scale(0.5);
  transition: all 0.75s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transition: all 0.75s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: all 0.75s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -o-transition: all 0.75s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  z-index: -100;
}

input:checked ~ .modal__overlay {
  opacity: 1;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  z-index: 9999999;
  overflow: auto;
}
