.slider-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 25px;
  z-index: 99999;
  position: relative;

  button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 20px 5px;
    color: $dark-green;
    font-size: 2rem;
    span {
      position: relative;
      display: inline-block;
      transform: translateX(0);
      transition: transform 0.3s ease;
    }
  }

  .slider-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    li {
      text-align: center;
    }
  }

  .slider {
    img {
      max-width: 100%;
      display: none;
      box-shadow: 10px 10px 20px 0 rgba(94,47,59,0.2);
      height: 300px;
      object-fit: cover;
      -o-object-fit: cover;
      @media all and (min-width: 500px) {
        height: 500px;
      }

      &.active,
      &:active {
        display: block;
        animation: fadeImg 0.8s;
      }
    }
  }

  .slider-nav .arrow {
    flex: 0 0 15%;
  }

  .slider-nav a {
    flex-basis: 100%;
    display: flex;
    align-items: center;
  }

  .slider-nav span {
    display: block;
    width: 100%;
  }

  @keyframes fadeImg {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  .previous:hover span {
    transform: translateX(-10px) scale(1.2);
  }

  .i-next:hover span {
    transform: translateX(10px) scale(1.2);
  }
}











