/*====================================
  Our tab styles
=====================================*/
$text: #686868;
$m01: $dark-green; /* main 1*/
$m02: $nav-link-hover; /* main 2*/
$n01: #f5f7fa; /* neutral 1*/
$n02: $light-green-rgba; /* neutral 2*/

#wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.content-row {
  width: 100%;
  min-width: 260px;
  margin-top: 5%;
  transition: 0.3s ease;
  position: relative;
  z-index: 99999;

  @media screen and (max-width: 512px) {
    margin: 0 4%;
    margin-top: 5%;
  }
}

/* Tabs menu */

.tabs {
  margin: 0;
  background-image: linear-gradient(135deg, $n01 0%, $n02 100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  border-radius: 2px 2px 0px 0px;

  @media screen and (max-width: 512px) {
    height: 40px;
  }
}

/* Tab Links */

.tablinks {
  background: transparent;
  background-image: linear-gradient(90deg, transparent 70%, rgba(255, 255, 255, 0.2) 100%);
  border: none;
  outline: none;
  cursor: pointer;
  width: 25%; /*change depending on the number of tabs*/
  height: 80px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  overflow: hidden;
  transition: 0.3s ease;

  @media screen and (max-width: 512px) {
    height: 40px;
    font-size: 12px;
  }
}

.tablinks:before /* Gradient */ {
  background-image: linear-gradient(135deg, $m01 0%, $m02 100%);
  content: "";
  width: 100%;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.3s ease-in-out;
  z-index: 2;
}


/*tab buttons hover*/

.tablinks:hover::before {
  height: 100%;
  z-index: 2;
  bottom: 0;

  @media screen and (max-width: 512px) {
    height: 0;
  }
}


/* Tab active */

.tablinks.active {
  background-color: white;
  z-index: 0;
  border-right: 0;
  border-left: 0;
  height: 110px;
  bottom: 0;
  overflow: hidden;

  @media screen and (max-width: 512px) {
    height: 60px;
  }
}

.tablinks.active:before /* Gradient */ {
  content: "";
  width: 100%;
  height: 5px;
  top: 0;
  left: 0;
}

/* Tabs text */

.tablinks.active p,
.tablinks.active:hover p {
  opacity: 1;
  background: -webkit-linear-gradient(135deg, $m01 0%, $m02 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tablinks p {
  opacity: 0.6;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  transition: 0.5s ease;
  padding: 0;
  margin: 0;
  color: $text;
  backface-visibility: hidden;
  font-weight: 400;
}

.tablinks:hover p {
  color: white;
  opacity: 1;

  @media screen and (max-width: 512px) {
    color: $text;
    opacity: 0.6;
  }
}


/* Tabs text bigger */

.tablinks p:before {
  content: attr(data-title);
  position: absolute;
  height: auto;
  width: auto;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.3;
  font-size: 40px;
  transition: 1s cubic-bezier(0.37, 1.01, 0.97, 0.07);
  z-index: -1;
  font-weight: 600;
  top: 110%;

  @media screen and (max-width: 512px) {
    display: none;
  }
}

.tablinks:hover p:before {
  opacity: 0.1;
  font-size: 40px;
  top: -80%;
}


/* tab content */

.wrapper_tabcontent {
  background-color: white;
  margin-top: 0px;
  z-index: 9999;
  position: relative;
  opacity: 1;
  padding: 40px 60px;
  overflow: hidden;
  transition: all 1s ease;
  top: 0;
}

.tabcontent {
  display: none;
  min-height: 180px;

}

@keyframes tabEffect {
  from {
    top: -40px;
  }
  to {
    top: 0;
  }
}

.tabcontent.active {
  transition: all 1s ease;
  display: block;
}

/* Tab content line */
.wrapper_tabcontent:after {
  content: "";
  height: 5px;
  width: 100%;
  position: absolute;
  background-image: linear-gradient(135deg, $dark-green 0%, $nav-link-hover 100%);
  left: 0;
  bottom: 0;
  z-index: -2;
  transition: all 1s ease;
}

/* Title */
.tabcontent h3 {
  font-size: 40px;
  top: 75px;
  transform: rotate(90deg);
  position: absolute;
  left: -90px;
  opacity: 0.1;
  width: 200px;
  height: 60px;
  background: -webkit-linear-gradient(135deg, $dark-green 0%, $nav-link-hover 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 0;
  animation: title 1s ease;

  @media screen and (max-width: 512px) {
    top: 65px;
  }
}

@keyframes title {
  from {
    left: -150px;
  }
  to {
    left: -90px;
  }
}

/* Text*/
.tabcontent p {
  color: $text;
  margin: 0;
  padding: 0;
  line-height: 28px;
  font-weight: 100;
  transition: all 1s ease;
  animation: fadeParagraph 0.6s ease;
  width: 100%;
  font-size: 16px;
  @media screen and (max-width: 512px) {
    font-size: 14px;
    line-height: 26px;
  }
}

@keyframes fadeParagraph {
  from {
    opacity: 0;
    margin-left: 30px;
  }
  to {
    opacity: 1;
    margin-left: 0;
  }
}

