/*====================================
  Our table styles
=====================================*/
.panel-default .panel-heading {
  background-color: $dark-green;
  color: $white;
  border: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 56px;
  i {
    text-align: center;
    width: 50px;
    margin-right: 10px;
  }
  h3 {
    display: inline-block;
    float: left;
  }
  .panel-title {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.panel-body {
  padding: 0;
  &:before {
    display: table;
    content: " ";
  }
  .table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 19px;
  }

  table {
    @extend .secondary-table;
    border-spacing: 0;
    border-color: transparent;
    margin: auto;
    tr {
      @extend .secondary-table-tr;
    }
    tr td:first-child, tr td:first-child span {
      font-size: 17px !important;
      text-transform: uppercase;
      font-weight: 900;
      color: #222222;

    }
    tr:first-child strong, tr strong {
      color: #222222 !important;
    }
    tr:nth-child(2n+3) strong{
      color: #222222;
    }

    tr:first-child, tr:nth-child(2n+3) {
      background-color: #8edd9d59;
    }

    td, td span {
      padding: 1em;
      font-size: 14px;
      font-weight: 100;
      width: 50% !important;
      @extend .secondary-table-td;
    }
    td span, tr td:first-child span {
      padding: 0;
    }
    a {
      color: $dark-green;
      &:hover {
        text-decoration: underline;
      }
    }

    th {
      padding-left: 5px;
    }
  }
  a {
    color: $dark-green;
    &:hover {
      text-decoration: underline;
    }
  }
}

/* secondary tables responsive - if extended this table  */

@media screen and (max-width: 800px) {

    .secondary-table {
      border: 1px solid $nude-light-green;
    }

    .secondary-table-tr {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      height: auto !important;
      margin-bottom: 20px;
      padding: 10px 0 0;
      &:last-child {
        margin-bottom: 0;
      }
    }
    .secondary-table-td {
      flex: 1 1 150px;
      height: auto !important;
    }
}
/* secondary tables end */
