/*====================================
  Our tab styles
=====================================*/
.tabs {
  clear: both;
  position: relative;
  width: 100%;
  margin: 0 auto;
  /* you can either manually set a min-height here or do it via JS ---> */
  .tab {
    float: left;
    label {
      margin-right: 20px;
      position: relative;
      top: 0;
      cursor: pointer;
      color: white;
      text-transform: uppercase;
    }
    .tab__content {
      position: relative;
      top: 40px;
      left: 0;
      right: 0;
      bottom: 0;
      transition: opacity .2s cubic-bezier(.42,0,.34,1.01);
      opacity: 0;
    }
  }

  [type=radio]:checked ~ label {
    border-bottom: 2px solid white;
    color: white;
    z-index: 2;
  }

  [type=radio]:checked ~ label ~ .tab__content {
    z-index: 1;
    opacity: 1;
  }

  .tab [type=radio] {
    display: none;
  }
}

