/*====================================
  Blockhouse page styles
=====================================*/
header.blockhouse-header {
  background-image: url("/public/assets/img/blockhouse/blockhouse-header.jpg");
  background-attachment: inherit;
}

.blockhouse-page {
  .first-section {
    position: relative;

    h2 {
      margin-top: 0;
      position: relative;
      z-index: 9999;
    }
  }

  .b-type-section {
    h2 {
      color: $svg-brown
    }

    .rating {
      display: flex;
      margin: auto;
      justify-content: center;
      margin-top: -1rem;
      grid-row: 3;
      color: $light-green;
      font-size: 14px;
      flex-flow: row nowrap;

      i {
        margin: 0 1px;
      }
    }
  }

  .properties {
    position: relative;

    h2 {
      margin-top: -2rem;
      position: relative;
      z-index: 9999;
    }

    .vector-col {
      img {
        margin-right: 5rem;
        margin-top: -1rem;
        width: 100%;
        max-width: 150px;
      }
    }
  }

  .technologies {
    background-image: url("/public/assets/img/blockhouse/bg-brown.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 750px;
    display: flex;
    justify-content: center;
    background-position: center center;

    h2 {
      margin-top: 0;
    }

    p {
      position: relative;
      z-index: 99999;
    }
  }
}

@media all and (min-width: 500px) {
  header.blockhouse-header {
    background-attachment: fixed;
  }
}

@media all and (min-width: 768px) {
  .blockhouse-page .first-section h2, .blockhouse-page .technologies h2 {
    margin-top: -2rem;
  }
}