/*====================================
  Ingredients page styles
=====================================*/
header.ingredients-header {
  background-image: url("/public/assets/img/ingredients/ingredients-bg.jpg");
  /* Photo by Reto Scheiwiller */
  background-attachment: inherit;
}

.ingredients-page {
  .type-section {
    position: relative;
    h2 {
      margin-top: -1rem;
      position: relative;
      z-index: 9999;
    }
  }

  .swot-section {
    position: relative;
    background-color: $dark-green;
    min-height: 500px;
    margin-bottom: 1em;
  }

  .properties {
    position: relative;
    h2 {
      margin-top: -2rem;
      position: relative;
      z-index: 9999;
    }
    .vector-col {
      img {
        margin-top: 2rem;
        margin-right: 2rem;
        margin-left: 2rem;
      }
    }
  }
}

@media all and (min-width: 500px) {
  header.ingredients-header {
    background-attachment: fixed;
  }
}