/*====================================
  Project page styles
=====================================*/
header.projects-header {
  background-image: url("/public/assets/img/about-us/about-us-header.jpg");
  background-attachment: inherit;
}

.projects-section, .projects-second-section {
  position: relative;
  padding-bottom: 3rem;
  h2 {
    position: relative;
    z-index: 99999;
    margin-bottom: 0;
  }
}

.projects-second-section {
  background-color: $brown;
  min-height: 535px;
  display: flex;
  justify-content: center;
  p {
    position: relative;
    z-index: 99999;
  }
}


@media all and (min-width: 500px) {
  header.projects-header {
    background-attachment: fixed;
  }
}