@import '_lightbox';
@import '_lines_subpages';

/* References subpage */
header.references-header {
  background-image: url("/public/assets/img/references/referenciak.png");
}

.references-section, .foorplan-section, .gallery-section {
  position: relative;
  padding-bottom: 3rem;
  h2 {
    position: relative;
    z-index: 99999;
    margin-bottom: 0;
    margin-top: 0;
  }
}

.references-section h2 {
  margin-top: 0;
  position: relative;
  z-index: 999999;
}

.foorplan-section {
  background-color: $nude-brown;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 4rem;
  min-height: 950px;
  p {
    position: relative;
    z-index: 99999;
  }
}


@media only screen and (min-width: 992px){
  .references-section h2 {
    margin-top: -1rem;
  }
  .references-subpage {
    img.design-line-right-top {
      top: -6rem;
      left: -20rem;
    }
  }
}