/*====================================
  Single page styles
=====================================*/
header.single-page-header {
  background-image: url("/public/assets/img/contact/contact.jpg");
  background-attachment: inherit;
}

header.main-header.subpage-header-size.news-single-header {
  min-height: 400px;
}

header.news-single-header.header-after {
  &:after {
    min-height: 400px;
    height: auto;
    background: rgba(0, 0, 0, 0.4);
  }
}

header.news-single-header {
  background-image: none;
  background-color: $dark-green;
  article.header-layer-container .row .main-layer {
    h1 {
      font-size: 35px;
      word-break: break-word;
    }
    p {
      margin-top: -5px;
      font-size: 15px;
    }
  }
  $font-size: 15px;
  .header-excerpt {
    font-size: $font-size;
    max-width: inherit;
    height: inherit;
    @extend .ellipsis;
  }
}

.single-page, .offer-subpage, .contact-page {
  img.top-white-elem {
    min-height: 50px;
  }
  .single-page-section {
    position: relative;
    .personal-datas ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    .thumbnail-img {
      margin: auto;
      img {
        width: 100%;
        margin: auto;
      }
    }
  }
  .form-section {
    position: relative;
    h2 {
      margin-top: 0;
      position: relative;
      z-index: 99999;
    }
  }

  .image-section {
    position: relative;
    background-color: $dark-green;
    padding-bottom: 3rem;
    padding-top: 3rem;
    background-image: url("/public/assets/img/single-page/cookies.jpg"); /* Photo by Brigitte Tohm */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 200px;
    h2 {
      padding: 1rem 2rem 2rem;
      justify-content: center;
      display: flex;
      z-index: 9999;
      position: relative;
    }
  }
  .image2-section {
    position: relative;
    background-color: $dark-green;
    padding-bottom: 3rem;
    padding-top: 3rem;
    background-attachment: fixed;
    background-image: url("/public/assets/img/single-page/privacy.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 200px;
    h2 {
      padding: 1rem 2rem 2rem;
      justify-content: center;
      display: flex;
      z-index: 9999;
      position: relative;
    }
  }

  .image3-section {
    position: relative;
    background-color: #586e27;
    padding-bottom: 3rem;
    padding-top: 3rem;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    .row {
      justify-content: center;
      align-items: center;
      min-height: 380px;
    }
    .btn-primary {
      position: relative;
      z-index: 9999;
      max-width: 300px;
      margin: auto;
    }
  }

  .lead-text {
    font-weight: 600;
    color: $light-green;
  }

  .article-body, #contactForm, #offerForm {
    position: relative;
    strong {
      color: $dark-green;
    }
    .news-body img {
      width: 80%;
      margin: 5em auto;
      @extend .img-frame-1;
    }

    ol {
      list-style: none;
      counter-reset: number-counter;
      margin: 0;
      padding: 0;
      li {
        counter-increment: number-counter;
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
        &::before {
          content: "0" counter(number-counter);
          font-weight: bold;
          font-size: 2rem;
          margin-right: 0.5rem;
          font-family: 'Myriad-Regular', sans-serif;
          line-height: 1;

        }
      }
    }

    ul, .error-container {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        position: relative;
        margin: 0;
        padding-bottom: 1.5em;
        padding-left: 20px;
        &::before {
          content: '';
          background-color: $dark-green;
          position: absolute;
          bottom: 0;
          top: 0;
          left: 6px;
          width: 3px;
        }
        &::after {
          content: '';
          background: $light-green;
          border-radius: 50%;
          position: absolute;
          left: 0;
          height: 15px;
          width: 15px;
        }
      }
    }
  }

  .news-single-section {
    background-color: $light-green;
    min-height: 600px;
    h2 {
      color: $white;
    }
  }
  .news-single-section .card-row {
    min-height: 400px;
    padding-bottom: 0;
  }

  em {
    font-size: 1.5em;
  }

  p {
    line-height: 1.8;
  }

  p span {
    padding: 5px;
    line-height: 2;
  }

  table {
    @extend .secondary-table;
    border-spacing: 0;
    border-color: transparent;
    margin: 5em auto;
    tr {
      @extend .secondary-table-tr;
    }
    tr td:first-child, tr td:first-child span {
      font-size: 17px !important;
      text-transform: uppercase;
      font-weight: 900;
      color: #222222;

    }
    tr:first-child strong, tr strong {
      color: #222222 !important;
    }
    tr:nth-child(2n+3) strong{
      color: #222222;
    }

    tr:first-child, tr:nth-child(2n+3) {
      background-color: #8edd9d59;
    }

    td, td span {
      padding: 1em;
      font-size: 14px;
      font-weight: 100;
      width: 20% !important;
      @extend .secondary-table-td;
    }
    td span, tr td:first-child span {
      padding: 0;
    }
    a {
      color: $dark-green;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .latest-news-section {
    .card-text {
      font-size: 0.7em;
    }
  }
}

@media all and (min-width: 500px) {
  header.single-page-header {
    background-attachment: fixed;
  }
}
@media only screen and (min-width: 768px){
  header.news-single-header.header-after {
    &:after {
      max-height: 400px;
      min-height: 400px;

    }
  }
}


@media only screen and (min-width: 992px){
  .single-page {
    .image-section {
      h2 {
        padding: 4rem 2rem 0;
      }
    }
    .image2-section {
      h2 {
        padding: 4rem 2rem 0;
      }
    }
  }

  header.news-single-header.header-after {
    &:after {
      min-height: 400px;
    }
  }
}