/*====================================
  subpage header size variations styles
=====================================*/
header.main-header.subpage-header-size {
  min-height: 540px;
  article.header-layer-container .row {
    flex-direction: row;
    .main-layer {
      padding: 1rem;
      //.text-box .home-header-svg {
      //  margin: -1rem 0;
      //}
    }
  }
}

header.main-header.subpage-primary-header-size {
  article.header-layer-container .row {
    flex-direction: row;
    .main-layer {
      padding: 1rem;
      top: 7rem;

      //.text-box .home-header-svg {
      //  margin: -1rem 0;
      //}
    }
  }
}