header.main-header.subpage-header-size {
  min-height: 540px;

  article.header-layer-container .row {
    flex-direction: row;
  }

  .main-layer {
    position: relative;
    top: 14rem;
    z-index: 9999;
    padding: 1rem;

    .text-box .home-header-svg {
      margin: -1rem 0;
      right: -15px;
    }
  }
}

header.main-header.subpage-primary-header-size {
  min-height: 900px;

  article.header-layer-container .row {
    flex-direction: row;
  }

  .main-layer {
    position: relative;
    top: 35rem;
    z-index: 9999;
    padding: 1rem;

    .text-box .home-header-svg {
      margin: -1rem 0;
      right: -15px;
    }
  }
}


@media only screen and (min-width: 1200px) {
  header.main-header.subpage-header-size {
    .main-layer {
      padding: 0;
    }
  }

  header.main-header.subpage-sec-header-size {
    .main-layer {
      padding: 0;
    }
  }
}