// Body
$body-bg: #fff;

// Typography
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$extra-dark-green: #228019;
$dark-green: #586e27;
$light-green: #99992a;
$light-green-rgba: rgba(153,153,42,0.5);

$white: #fff;
$white-rgba: rgba(255,255,255,0.8);

$brown: #b6764c;



$nav-link-hover: #d0d039;
$light-grey: #ededed;

$svg-green: #82b77d;
$svg-brown: #e2a983;

$menu-color: $white;
$section-bg-color: $light-grey;
$separator-color: #dedede;

$brown-btn: $svg-brown;
$dark-green-btn: $dark-green;
$light-green-btn: $light-green;


$heading-color-brown: $brown;
$heading-color-light-brown: $svg-brown;
