/*====================================
   cookie section styles
=====================================*/
.cc-window.cc-banner {
  z-index: 999999 !important;
}

.cc-revoke, .cc-window {
  z-index: 9999999 !important;
}
/*====================================
   base styles
=====================================*/
::-moz-selection { /* Code for Firefox */
  color: $white;
  background: $dark-green;
}

::selection {
  color: $white;
  background: $dark-green;
}

html, body {
  background-color: #fff;
  color: #636b6f;
  font-family: 'GillSansMT-Condensed', sans-serif;
  font-weight: 200;
  height: 100vh;
  margin: 0;
}

.m-container {
  max-width: 1140px;
  display: block;
  margin: auto;
  width: 100%;
}

.hide {
  display: none;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.col {
  flex-direction: column;
  //flex: 1 100%;
  padding: 15px;
}

.col-12 {
  flex: 1 100%;
  padding: 15px;
}

.col-6 {
  flex: 1 60%;
  padding: 15px;
}

.col-4 {
  flex: 1 40%;
  padding: 15px;
}

.col-7 {
  flex: 1 70%;
  padding: 15px;
}

.col-3 {
  flex: 1 30%;
  padding: 15px;
}

.col-8 {
  flex: 1 80%;
  padding: 15px;
}

.col-2 {
  flex: 1 20%;
  padding: 15px;
}

.ml-0 {
  margin-left: 0;
}

.mr-0 {
  margin-right: 0;
}

.mb-0 {
  margin-bottom: 0;
}
.mt-0 {
  margin-top: 0;
}

.mr-1 {
  margin-right: 1em !important;
}

.pl-0 {
  padding-left: 0 !important;
}

.pr-0 {
  padding-right: 0 !important;
}

.pt-3 {
  padding-top: 2.5rem;
}

.pt-0 {
  padding-top: 0;
}

.pb-2 {
  padding-bottom: 2rem;
}

.column-reverse {
  flex-direction: column-reverse;
}

.position-relative {
  position: relative;
}

.z-index-99999 {
  z-index: 99999;
}
/*====================================
  Related post excerpt styles
=====================================*/
$font-size: 11.2px;
$line-height: 1.8;
$lines-to-show: 3;

.ellipsis {
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  max-width: 400px;
  height: $font-size*$line-height*$lines-to-show; /* Fallback for non-webkit */
  margin: 0 auto;
  font-size: $font-size;
  line-height: $line-height;
  -webkit-line-clamp: $lines-to-show;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
/*====================================
  Our pictures styles
=====================================*/
object {
  pointer-events: none;
  display: block;
}
div.img-wrap {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  & img {
    max-width: 100%;
    height: auto;
    margin: auto;
    display: flex;
  }
  &:hover {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
}

img {
  max-width: 100%;
  height: auto;
  margin: auto;
  display: flex;
}

.color-effect {
  position: relative;
  overflow: hidden;
  margin: 0;
  height: 100%;
  width: 100%;
  -webkit-filter: grayscale(0.5);
  filter: grayscale(.5);
  img{
    width: 100%;
    height: 100%;
  }
  &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 2;
      display: block;
      content: '';
      width: 0;
      height: 0;
      background: rgba(0,0,0,.2);
      border-radius: 100%;
      transform: translate(-50%, -50%);
      opacity: 0;
  }
  &:hover {
      animation: bloom ease-in-out .75s forwards;
  }
  &:hover::before {
    animation: circle .75s;
  }
}

@keyframes bloom {
  0% {
    filter: grayscale(.5);
  }
  40% {
    filter: grayscale(.5);
  }
  100% {
    filter: grayscale(0);
  }
}

@keyframes circle {
  0% {
    opacity: .5;
    background: rgba(213,156,34,.2);

  }
  40% {
    opacity: 1;
    background: rgba(30, 213, 62, 0.2);
  }
  100% {
    width: 200%;
    height: 200%;
    opacity: 0;
  }
}

.img-frame-1 {
  background-color: #3f7249;
  padding: 25px;
}

.img-frame-2 {
  background-color: #c08964;
  padding: 25px;
}

.img-after:after{
  content:'\A';
  position:absolute;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.5);
  opacity:0.8;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  top: 0;
}

figure {
  margin: auto;
}
/*====================================
  Our Typography styles
=====================================*/
a {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-decoration: none;
}

p a, li a {
  color: $dark-green;
  font-weight: 600;
  &:hover {
    color: $nav-link-hover;
  }
}

h1 {
  font-size: 100px;
  line-height: 1;
  font-weight: 100;
}

h2 {
  font-size: 36px;
  text-transform: uppercase;
  font-weight: 100;
}

h3 {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 100;
}

p, li, th, td {
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  letter-spacing: 1px;
}
/*====================================
  pagination styles
=====================================*/
.pagination {
  display: inline-block;
  margin: auto;
  padding: 5rem 0;
  width: 100%;
  .pagination-container {
    display: flex;
    justify-content: center;
    a {
      color: $pagi-color;
      float: left;
      padding: 8px 16px;
      text-decoration: none;
      &:hover {
        color: $dark-green;
      }
      &.active,
      &:active {
        color: $dark-green;
        font-size: 1.2em;
      }
    }
  }
}
/*====================================
  Our buttons styles
=====================================*/
.default {
  color: $white;
  border: 1px solid $white;
  &:hover {
    background-color: $dark-green;
    border: 1px solid $dark-green;
  }
}

.btn-primary {
  background-color: $dark-green;
  color: $white;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  &:hover {
    background-color: $svg-brown;
    color: $white;
  }
}

.btn-primary-inverse {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: $svg-brown;
  color: $white;
  &:hover {
    background-color: $dark-green;
    color: $white;
  }
}

.news-btn {
  font-size: 14px;
  color: $dark-green;
  font-weight: bold;
  font-family: Arial, 'sans-serif';
  position: relative;
  z-index: 9999;
}

.news-btn:hover {
  color: #82b77d;
}

.btn-secondary {
  background-color: $light-green;
  color: $white;
  &:hover {
    background-color: $brown;
  }
}

.btn {
  padding: 10px;
  max-width: 170px;
  width: 100%;
  display: flex;
  font-family: 'HelveticaNeue-Light-Cond', sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  justify-content: center;
}

.call-to-action-btn-group.row {
  z-index: 9999;
  position: relative;
  align-items: center;
  background-image: linear-gradient(135deg, #f5f7fa 30%, rgba(153, 153, 42, 0.9) 100%);
  &:after {
    content: "";
    height: 5px;
    width: 100%;
    position: absolute;
    background-image: linear-gradient(135deg, #586e27 0%, #d0d039 100%);
    left: 0;
    bottom: 0;
    z-index: -2;
    transition: all 1s ease;
  }
  @media all and (min-width: 768px) {
    padding: 1em;
  }
  .form-btn {
    justify-content: center;
    font-size: 1.3em;
    padding-bottom: 0;
    text-align: center;
    @media all and (min-width: 768px) {
      font-size: 1.5em;
      justify-content: flex-start;
    }
  }
  .call-btn {
    justify-content: center;
    font-size: 1em;
    white-space: nowrap;
    @media all and (min-width: 768px) {
      font-size: 1.5em;
    }
    @media all and (min-width: 992px) {
      font-size: 2em;
      justify-content: flex-end;
    }
  }
  a {
    max-width: 100%;
    font-family: 'Myriad-Regular', sans-serif;
    padding: 15px 5px;
    color: $dark-green;
    &:hover {
      color: $brown;
    }
  }
}

/*====================================
  transform and color styles
=====================================*/
.heading-top-transform {
  margin-top: -85px;
}

.text-highlight {
  color: $light-green;
}

.text-highlight-darker{
  color: $dark-green;
}

.text-white {
  color: $white;
}

/*====================================
   design-elements styles
=====================================*/
img.bottom-white-elem {
  position: absolute;
  bottom: -2rem;
  right: 0;
  width: 50%;
  height: max-content;
  min-height: 5%;
}

img.top-white-elem {
  position: absolute;
  top: -3rem;
  left: 0;
  width: 50%;
  height: max-content;
  min-height: 5%;
}
/*====================================
   clickable card & card styles
=====================================*/
.clickable-card-link::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  pointer-events: auto;
  content: "";
  background-color: rgba(0,0,0,0);
}

.horizontal-card {
  position: relative;
  z-index: 99999;
}


/*====================================
   menu 'a' transition styles
=====================================*/
.menu .item a {
  position: relative;
}

.menu .item a:before,
.menu .item a:after {
  height: 14px;
  width: 14px;
  position: absolute;
  content: '';
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  opacity: 0;
}

.menu .item a:before {
  left: -10px;
  top: -10px;
  border-left: 3px solid $light-green;
  border-top: 3px solid $light-green;
  -webkit-transform: translate(100%, 50%);
  transform: translate(100%, 50%);
}
.menu .item a:after {
  right: -10px;
  bottom: -10px;
  border-right: 3px solid $light-green;
  border-bottom: 3px solid $light-green;
  -webkit-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
}
.menu .item a:hover {
  color: $light-green;
}

.menu .item a:hover:before,
.menu .item a:hover:after {
  -webkit-transform: translate(0%, 0%);
  transform: translate(0%, 0%);
  opacity: 1;
}