html, body {
  background-color: #fff;
  color: #636b6f;
  font-family: GillSansMT-Condensed;
  font-weight: 200;
  height: 100vh;
  margin: 0;
}

/* basic */

.m-container {
  max-width: 1140px;
  display: block;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  flex: 1 100%;
  padding: 15px;
}

.col-12 {
  //display: flex;
  flex: 1 100%;
  padding: 15px;
}

.col-6 {
  flex: 1 60%;
  padding: 15px;
}

.col-4 {
  flex: 1 40%;
  padding: 15px;
}

.col-7 {
  flex: 1 70%;
  padding: 15px;
}

.col-3 {
  flex: 1 30%;
  padding: 15px;
}

.col-8 {
  flex: 1 80%;
  padding: 15px;
}

.col-2 {
  flex: 1 20%;
  padding: 15px;
}

.ml-0 {
  margin-left: 0;
}

.mr-0 {
  margin-right: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.pl-0 {
  padding-left: 0;
}

.column-reverse {
  flex-direction: column-reverse;
}

//.d-block {
//  display: block !important;
//}

/* pictures */

div.img-wrap {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  & img {
    max-width: 100%;
    height: auto;
    margin: auto;
    display: flex;
  }
}

img {
  max-width: 100%;
  height: auto;
  margin: auto;
  display: flex;
}

.img-after:after{
  content:'\A';
  position:absolute;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.3);
  opacity:0.8;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  top: 0;
}

figure {
  margin: auto;
}



/* Typography */
a {
  text-decoration: none;
}

h1 {
  font-size: 100px;
  line-height: 1;
  font-weight: 100;
}

h2 {
  font-size: 36px;
  text-transform: uppercase;
  font-weight: 100;
}

h3 {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 100;
}

p, li {
  font-size: 14px;
  font-family: Arial;
}

.pagination {
  display: inline-block;
  margin: auto;
  padding: 5rem 0;
  width: 100%;
  .pagination-container {
    display: flex;
    justify-content: center;
    a {
      color: $pagi-color;
      float: left;
      padding: 8px 16px;
      text-decoration: none;
      &:hover {
        color: $dark-green;
      }
      &.active,
      &:active {
        color: $dark-green;
        font-size: 1.2em;
      }
    }
  }
}



/* buttons */

.default {
  color: $white;
  border: 1px solid $white;
  &:hover {
    background-color: $dark-green;
    border: 1px solid $dark-green;
  }
}

.btn-primary {
  background-color: $dark-green;
  color: $white;
  &:hover {
    background-color: $svg-brown;
    color: $brown;
  }
}

.btn-primary-inverse {
  background-color: $svg-brown;
  color: $brown;
  &:hover {
    background-color: $dark-green;
    color: $white;
  }
}

.news-btn {
  font-size: 14px;
  color: $dark-green;
  font-weight: bold;
  font-family: Arial, 'sans-serif';
}

.news-btn:hover {
  color: #82b77d;
}

.btn-secondary {
  background-color: $light-green;
  color: $white;
  &:hover {
    background-color: $brown;
  }
}

.btn {
  padding: 10px;
  max-width: 170px;
  width: 100%;
  display: flex;
  font-family: HelveticaNeue-Light-Cond;
  text-transform: uppercase;
  font-size: 14px;
  justify-content: center;
}

.heading-top-transform {
  margin-top: -85px;
}


.text-highlight {
  color: $light-green;
}

.text-highlight-darker{
  color: $dark-green;
}

.text-white {
  color: $white;
}


img.bottom-white-elem {
  position: absolute;
  bottom: -2rem;
  right: 0;
  width: 50%;
  height: max-content;
  min-height: 5%;
}

img.top-white-elem {
  position: absolute;
  top: -4rem;
  left: 0;
  width: 50%;
  height: max-content;
  min-height: 5%;
}


/* All card will be a clickable */
.clickable-card-link::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  pointer-events: auto;
  content: "";
  background-color: rgba(0,0,0,0);
}

.horizontal-card {
  position: relative;
  z-index: 99999;
}

/* menu a transition */

.menu .item a {
  position: relative;
}

.menu .item a:before,
.menu .item a:after {
  height: 14px;
  width: 14px;
  position: absolute;
  content: '';
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  opacity: 0;
}

.menu .item a:before {
  left: -10px;
  top: -10px;
  border-left: 3px solid $light-green;
  border-top: 3px solid $light-green;
  -webkit-transform: translate(100%, 50%);
  transform: translate(100%, 50%);
}
.menu .item a:after {
  right: -10px;
  bottom: -10px;
  border-right: 3px solid $light-green;
  border-bottom: 3px solid $light-green;
  -webkit-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
}
.menu .item a:hover {
  color: $light-green;
}

.menu .item a:hover:before,
.menu .item a:hover:after {
  -webkit-transform: translate(0%, 0%);
  transform: translate(0%, 0%);
  opacity: 1;
}