//Fonts

@font-face {
  font-family: "GillSansMT-Condensed";
  src: url('/public/assets/fonts/gillsans/GillSansMT-Condensed.TTF');
}

@font-face {
  font-family: "GillSans-Regular";
  src: url('/public/assets/fonts/gillsans/GillSansMT-Regular.TTF');
}

@font-face {
  font-family: "Horizon-Regular";
  src: url('/public/assets/fonts/horizon/Horizon Type - AcherusGrotesque-Regular.otf');
}

@font-face {
  font-family: "Arial";
  src: url('/public/assets/fonts/arial/arial.ttf');
}

@font-face {
  font-family: "Myriad-Regular";
  src: url('/public/assets/fonts/myriad/MyriadPro-Regular.otf');
}

@font-face {
  font-family: "HelveticaNeue-Light-Cond";
  src: url('/public/assets/fonts/helvetica/HelveticaNeueLT-LightCond.otf');
}