/*====================================
  Our footer styles
=====================================*/
footer.mega-footer {
  padding: 3rem 10px 1rem;
  background-color: $light-grey;
  min-height: 400px;
  font-family: 'Myriad-Regular', 'sans-serif';

  .mega-footer-row {
    align-items: flex-start;
    justify-content: flex-start;
  }

  h4 {
    font-size: 1.3em;
  }

  .footer-list {
    padding-left: 0;
    li {
      list-style-type: none;
      padding: 10px 0;
      font-size: 13px;
      a {
        color: $dark-green;
        &:hover {
          color: $svg-brown;
        }
      }
    }
  }

  //newsletter
  .flex-outer {
    list-style-type: none;
    padding: 0;
    max-width: 800px;
    margin: 0 auto;

    li {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }

    .styled-input-single {
      padding: 10px 0 10px 25px;
    }
  }

  .flex-outer > li:not(:last-child) {
    margin-bottom: 5px;
  }

  .flex-outer li p {
    padding: 8px;
    font-weight: 300;
    letter-spacing: .09em;
    flex: 1 0 120px;
    max-width: 220px;
    margin: 0;
  }

  .flex-outer > li > label {
    flex: 1 0 120px;
    max-width: 220px;
    padding: 8px;
    font-weight: 300;
    letter-spacing: .09em;
    font-family: 'Myriad-Regular', 'sans-serif';
    font-size: 12px;
  }

  .flex-outer li input:not([type='checkbox']),
  .flex-outer li select {
    padding: 10px;
    border: none;
    background-color: white;
    width: 100%;
  }

  .flex-outer li button {
    border: none;
    letter-spacing: .09em;
    position: relative;
    z-index: 9999;
  }
  .footer-logo {
    margin: 0;
    width: 100%;
    margin-left: -2px;
    max-width: 80px;
  }
}

footer.sticky-footer {
  background-color: #141611;
  min-height: 120px;
  position: relative;
  .call-to-action-box {
    margin: auto;
    justify-content: center;
    display: flex;
    .col:first-child {
      text-align: right;
    }
    .row {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
  }
  span {
    color: $white;
    &.call-to-action-text {
      color: #a7a7a6;
      font-size: 24px;
      font-family: 'Myriad', sans-serif;
    }
    a {
      color: $white;
      font-size: 24px;
      font-family: 'Myriad', sans-serif;
      &:hover {
        color: $svg-brown;
      }
    }
  }

  .sticky-footer-line {
    position: absolute;
    bottom:0;
    margin: 0 3rem;
    height: 100%;
    display: none;
  }
}


@media all and (min-width: 768px) {
.mega-footer .col {
  padding: 0;
  }
}