/*====================================
  header layer styles
=====================================*/
article.header-layer-container {
  .row {
    flex-direction: row-reverse;
    .main-layer {
      position: relative;
      padding: 5rem 1rem;
      z-index: 9999;
      .text-box {
        position: relative;
        .home-header-svg {
          position: absolute;
          right: 0;
          bottom: -10px;
          width: 117px;
          height: 117px;
          margin: -1rem;
        }
      }
      h1 {
        font-size: 3em;
        color: $white;
        font-family: 'GillSansMT-Condensed', sans-serif;
        text-transform: uppercase;
        margin: 1rem 0 2rem 0;
      }
      p {
        margin-top: -20px;
        font-family: 'Arial', sans-serif;
        font-size: 15px;
        color: $white;
        text-transform: uppercase;
        padding: 0 15px 0 0;
      }
      .btn {
        margin-top: 2em;
      }
    }
  }
}