
header.main-header {
  background-image: url("/public/assets/img/homepage/Header2.png");
  background-position: top center;
  background-repeat: no-repeat;
  min-height: 900px;
  background-size: cover;
  background-attachment: fixed;
  margin-top: -85px;
}

.header-after:after {
  content:'\A';
  position:absolute;
  width:100%;
  height:100%;
  min-height: 900px;
  top: -85px;
  left:0;
  background:rgba(0,0,0,0.3);
  opacity:0.8;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}
