/* main */
.main {

  .block-house-section {
    min-height: 380px;
    position: relative;
    img.bottom-white-elem {
      position: absolute;
      bottom: -2rem;
      right: 0;
      width: 50%;
      height: max-content;
      min-height: 5%;
    }

    h2 {
      color: $dark-green;
      position: relative;
      z-index: 9999;
    }

    .heading-group {
      position: relative;
      img.line-top {
        position: absolute;
        right: 0;
        top: 0;
      }
    }
    .img-wrap img {
      margin-bottom: 2rem;
    }
    .img-column {
      position: relative;
      z-index: 9999;
      .line-bottom {
        position: absolute;
        bottom: -4rem;
        right: 13rem;
      }
    }

    figcaption {
      text-align: center;
    }
  }


  .special-offers-section {
    min-height: 730px;
    background-color: $light-grey;
    h2 {
      color: $heading-color-brown;
    }
    .card-row {
      padding-bottom: 8rem;
      .card {
        background-color: $white;
        padding: 1.5rem;
        position: relative;
        .card-title {
          color: $dark-green;
          text-transform: uppercase;
          font-family: Arial;
          text-align: center;
          font-weight: 100;
          font-size: 16px;
          &.ref-title {
            color: $heading-color-light-brown;
          }
        }
        .card-text {
          text-align: center;
        }
        a.btn {
          margin: auto;
        }
      }
    }
  }


  .faq-section {
    min-height: 625px;
    position: relative;
    .ref-long-bline {
      position: absolute;
      top: -5rem;
      right: 43.5rem;
    }
    .ref-program-box {
      position: absolute;
      background-image: url("/public/assets/img/homepage/fooldal_referenciaprogram.png");
      background-repeat: no-repeat;
      background-size: cover;
      top: -5rem;
      left: 0;
      width: 100%;
      max-height: 25%;
      height: 100%;
      .ref-green-line {
        position: absolute;
        bottom: 0px;
        right: 0px;
      }
    }
    .program-text {
      width: 90%;
      top: -4.2rem;
      position: absolute;
      text-align: justify;
      margin-left: 1rem;
      h2.ref-title {
        color: $white;
        margin-top: 0;
        margin-bottom: 0;
      }
      p.ref-text {
        color: $white;
      }
    }
    .faq-container {
      padding-top: 10rem;
      .heading-group {
        padding-bottom: 0;
      }
      h2 {
        color: $light-green;
        margin-bottom: 0;
      }
      .text-highlight {
        color: $light-green;
      }
    }
    .faq-row {
      position: relative;
      z-index: 9999;
      p {
        padding-bottom: 2rem;
      }
    }

    //.bottom-white-elem {
    //  bottom: -3rem;
    //  min-height: 13%;
    //  position: absolute;
    //  right: 0;
    //}
  }


  .testimonial {
    min-height: 885px;
    background-image: url("/public/assets/img/homepage/fooldal_rolunkmondtak_BG.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    .line-box {
      position: relative;
      .testi-top-line {
        position: relative;
        top: -5rem;
        left: -15rem;
      }
    }

    .testi-column {
      position: relative;
      .testi-bottom-lines {
        position: absolute;
        right: 0;
        bottom: 0;
      }
    }

    h2 {
      margin-bottom: 0;
    }
    .testi-row {
      padding: 10rem 0 5rem;
      .testi-main-img {
        position: relative;
        top: -10rem;
      }
      .testi-card {
        background-color: white;
        padding: 2rem;
        margin-top: -10rem;
        margin-left: -2rem;
        padding-right: 0;
      }
      .testi-card {
        .commas-row {
          font-size: 18px;
          width: 100%;
        }
        .commas {
          margin: 2rem 0;
          position: relative;
          padding: 2rem 0;
          .commas-top {
            position: relative;
            top: 0;
            right: 0;
          }
          .commas-bottom {
            position: relative;
            bottom: 0;
            left: 0;
            width: 50px;
          }
        }
        p {
          text-align: justify;
        }
      }
    }
  }

  .news {
    background-color: white;
    position: relative;
    padding: 0 0 4rem;
    .m-container {
      position: relative;
      z-index: 9999;
    }
    .news-row {
      padding: 15px;
      h2 {
        margin-top: -3rem;
      }
      .news-card {
        position: relative;
        .news-card-title {
          h4 {
            font-size: 1em;
            font-weight: 100;
            font-family: Arial, 'sans-serif';
            text-transform: uppercase;
          }
        }
        .news-card-text {
          width: 85%;
          padding-bottom: 3rem;
        }

        .news-bottom-lines {
          position: absolute;
          right: 0;
          bottom: 0;
        }
      }
    }
  }

}