/*====================================
  Our header styles
=====================================*/
header.main-header {
  background-image: url("/public/assets/img/homepage/Header2.png");
  background-position: top center;
  background-repeat: no-repeat;
  min-height: 600px;
  background-size: cover;
  background-attachment: inherit;
  height: auto;
  align-items: center;
  justify-content: center;
  display: flex;
}

.header-after:after {
  content:'\A';
  position:absolute;
  width:100%;
  height: auto;
  min-height: 600px;
  top: 0;
  left:0;
  background:rgba(0,0,0,0.3);
  opacity:0.8;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

@media all and (min-width: 500px) {
  header.main-header {
    background-attachment: fixed;
  }
}
