nav.main-nav {
  /* Mobile menu */
  position: fixed;
  z-index: 999999;
  height: 85px;
  top: 0;
  width: 100%;
  & ul.menu {
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
    display: flex;
    width: 100%;
    padding-left: 0;
    margin: auto;
    background-color: $white-rgba;
    & li {
      //flex: 1 0 auto;
      //padding: 2rem 1.5rem 0 0;
      &.item {
        padding: 1rem 0 1rem 0;
        border-bottom: 1px solid $separator-color;
        width: 100%;
        text-align: center;
        order: 3;
        display: none;
        &.contact-item, &.mobil-projects {
          padding-right: 0;
        }
      }
      &.item.active {
        display: block;
      }
      &.toggle {
        order: 1;
        top: 1.7rem;
        right: 0.5rem;
        position: relative;
        cursor: pointer;
        font-size: 1.5rem;
        color: $dark-green;
      }
      &.logo img {
        max-width: 80px;
        position: relative;
        top: 0;
        left: 10px;
      }
      a {
        color: $dark-green;
        font-family: Myriad-Regular;
        font-size: 18px;
        text-decoration: none;
        line-height: 20px;
        transition: all 1s ease 0s;
        &.left-menu-item {
          font-size: 18px;
        }
        &.sticky-color {
          color: $dark-green;
          &:hover {
            color: $light-green;
          }
        }
        &:hover {
          color: $nav-link-hover;
        }
      }
    }
  }
  &.sticky-bg-color {
    background-color: $white-rgba;
    height: 65px;
    margin: auto;
    display: flex;
    width: 100%;
    top: 0;
  }
}