@font-face {
  font-family: "GillSansMT-Condensed";
  src: url("/public/assets/fonts/gillsans/GillSansMT-Condensed.TTF");
}

@font-face {
  font-family: "GillSans-Regular";
  src: url("/public/assets/fonts/gillsans/GillSansMT-Regular.TTF");
}

@font-face {
  font-family: "Horizon-Regular";
  src: url("/public/assets/fonts/horizon/Horizon Type - AcherusGrotesque-Regular.otf");
}

@font-face {
  font-family: "Arial";
  src: url("/public/assets/fonts/arial/arial.ttf");
}

@font-face {
  font-family: "Myriad-Regular";
  src: url("/public/assets/fonts/myriad/MyriadPro-Regular.otf");
}

@font-face {
  font-family: "HelveticaNeue-Light-Cond";
  src: url("/public/assets/fonts/helvetica/HelveticaNeueLT-LightCond.otf");
}

html,
body {
  background-color: #fff;
  color: #636b6f;
  font-family: GillSansMT-Condensed;
  font-weight: 200;
  height: 100vh;
  margin: 0;
}

/* basic */

.m-container {
  max-width: 1140px;
  display: block;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  flex: 1 100%;
  padding: 15px;
}

.col-12 {
  display: flex;
  flex: 1 100%;
  padding: 15px;
}

.col-6 {
  flex: 1 60%;
  padding: 15px;
}

.col-4 {
  flex: 1 40%;
  padding: 15px;
}

.col-7 {
  flex: 1 70%;
  padding: 15px;
}

.col-3 {
  flex: 1 30%;
  padding: 15px;
}

.ml-0 {
  margin-left: 0;
}

.column-reverse {
  flex-direction: column-reverse;
}

/* pictures */

div.img-wrap {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.img-wrap img {
  max-width: 100%;
  height: auto;
  margin: auto;
  display: flex;
}

img {
  max-width: 100%;
  height: auto;
  margin: auto;
  display: flex;
}

figure {
  margin: auto;
}

/* Typography */

a {
  text-decoration: none;
}

h1 {
  font-size: 100px;
  line-height: 1;
  font-weight: 100;
}

h2 {
  font-size: 36px;
  text-transform: uppercase;
  font-weight: 100;
}

p {
  font-size: 14px;
  font-family: Arial;
}

/* buttons */

.default {
  color: #fff;
  border: 1px solid #fff;
}

.default:hover {
  background-color: #586e27;
  border: 1px solid #586e27;
}

.btn-primary {
  background-color: #586e27;
  color: #fff;
}

.btn-primary:hover {
  background-color: #e2a983;
  color: #b6764c;
}

.btn-primary-inverse {
  background-color: #e2a983;
  color: #b6764c;
}

.btn-primary-inverse:hover {
  background-color: #586e27;
  color: #fff;
}

.news-btn {
  font-size: 14px;
  color: #586e27;
  font-weight: bold;
  font-family: Arial, "sans-serif";
}

.news-btn:hover {
  color: #82b77d;
}

.btn-secondary {
  background-color: #99992a;
  color: #fff;
}

.btn-secondary:hover {
  background-color: #b6764c;
}

.btn {
  padding: 10px;
  max-width: 170px;
  width: 100%;
  display: flex;
  font-family: HelveticaNeue-Light-Cond;
  text-transform: uppercase;
  font-size: 14px;
  justify-content: center;
}

.heading-top-transform {
  margin-top: -85px;
}

.text-highlight {
  color: #99992a;
}

.text-highlight-darker {
  color: #586e27;
}

img.bottom-white-elem {
  position: absolute;
  bottom: -2rem;
  right: 0;
  width: 50%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  min-height: 5%;
}

img.top-white-elem {
  position: absolute;
  top: -4rem;
  left: 0;
  width: 50%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  min-height: 5%;
}

/* All card will be a clickable */

.clickable-card-link::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  pointer-events: auto;
  content: "";
  background-color: rgba(0, 0, 0, 0);
}

/* menu a transition */

.menu .item a {
  position: relative;
}

.menu .item a:before,
.menu .item a:after {
  height: 14px;
  width: 14px;
  position: absolute;
  content: "";
  transition: all 0.35s ease;
  opacity: 0;
}

.menu .item a:before {
  left: -10px;
  top: -10px;
  border-left: 3px solid #99992a;
  border-top: 3px solid #99992a;
  transform: translate(100%, 50%);
}

.menu .item a:after {
  right: -10px;
  bottom: -10px;
  border-right: 3px solid #99992a;
  border-bottom: 3px solid #99992a;
  transform: translate(-100%, -50%);
}

.menu .item a:hover {
  color: #99992a;
}

.menu .item a:hover:before,
.menu .item a:hover:after {
  transform: translate(0%, 0%);
  opacity: 1;
}

nav.main-nav {
  /* Mobile menu */
  position: fixed;
  z-index: 999999;
  height: 85px;
  top: 0;
  width: 100%;
}

nav.main-nav ul.menu {
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  display: flex;
  width: 100%;
  padding-left: 0;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.8);
}

nav.main-nav ul.menu li.item {
  padding: 1rem 0 1rem 0;
  border-bottom: 1px solid #dedede;
  width: 100%;
  text-align: center;
  order: 3;
  display: none;
}

nav.main-nav ul.menu li.item.contact-item,
nav.main-nav ul.menu li.item.mobil-projects {
  padding-right: 0;
}

nav.main-nav ul.menu li.item.active {
  display: block;
}

nav.main-nav ul.menu li.toggle {
  order: 1;
  top: 1.7rem;
  right: 0.5rem;
  position: relative;
  cursor: pointer;
  font-size: 1.5rem;
  color: #586e27;
}

nav.main-nav ul.menu li.logo img {
  max-width: 80px;
  top: 0.5rem;
  position: relative;
}

nav.main-nav ul.menu li a {
  color: #586e27;
  font-family: Myriad-Regular;
  font-size: 18px;
  text-decoration: none;
  line-height: 20px;
  transition: all 1s ease 0s;
}

nav.main-nav ul.menu li a.left-menu-item {
  font-size: 18px;
}

nav.main-nav ul.menu li a.sticky-color {
  color: #586e27;
}

nav.main-nav ul.menu li a.sticky-color:hover {
  color: #99992a;
}

nav.main-nav ul.menu li a:hover {
  color: #d0d039;
}

nav.main-nav.sticky-bg-color {
  background-color: rgba(255, 255, 255, 0.8);
  height: 65px;
  margin: auto;
  display: flex;
  width: 100%;
  top: 0;
}

/* mobile screen */

header.main-header {
  background-image: url("/public/assets/img/homepage/Header2.png");
  background-position: top center;
  background-repeat: no-repeat;
  min-height: 900px;
  background-size: cover;
  background-attachment: fixed;
  margin-top: -85px;
}

header.main-header:after {
  content: "\A";
  position: absolute;
  width: 100%;
  height: 100%;
  min-height: 900px;
  top: -85px;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0.8;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

/* header layer */

article.header-layer-container .row {
  flex-direction: row-reverse;
}

article.header-layer-container .row .main-layer {
  float: right;
  position: relative;
  top: 20rem;
  padding: 2rem;
  z-index: 9999;
}

article.header-layer-container .row .main-layer .text-box {
  position: relative;
}

article.header-layer-container .row .main-layer .text-box .home-header-svg {
  position: absolute;
  right: -10px;
  bottom: -10px;
  width: 117px;
  height: 117px;
  margin: -1rem;
}

article.header-layer-container .row .main-layer h1 {
  font-size: 4em;
  color: #fff;
  font-family: GillSansMT-Condensed;
  text-transform: uppercase;
  margin: 1rem 0;
}

article.header-layer-container .row .main-layer p {
  margin-top: -20px;
  font-family: Arial;
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
}

/* main */

.main .block-house-section {
  min-height: 380px;
  position: relative;
}

.main .block-house-section img.bottom-white-elem {
  position: absolute;
  bottom: -2rem;
  right: 0;
  width: 50%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  min-height: 5%;
}

.main .block-house-section h2 {
  color: #586e27;
  position: relative;
  z-index: 9999;
}

.main .block-house-section .heading-group {
  position: relative;
}

.main .block-house-section .heading-group img.line-top {
  position: absolute;
  right: 0;
  top: 0;
}

.main .block-house-section .img-wrap img {
  margin-bottom: 2rem;
}

.main .block-house-section .img-column {
  position: relative;
  z-index: 9999;
}

.main .block-house-section .img-column .line-bottom {
  position: absolute;
  bottom: -4rem;
  right: 13rem;
}

.main .block-house-section figcaption {
  text-align: center;
}

.main .special-offers-section {
  min-height: 730px;
  background-color: #ededed;
}

.main .special-offers-section h2 {
  color: #b6764c;
}

.main .special-offers-section .card-row {
  padding-bottom: 8rem;
}

.main .special-offers-section .card-row .card {
  background-color: #fff;
  padding: 1.5rem;
  position: relative;
}

.main .special-offers-section .card-row .card .card-title {
  color: #586e27;
  text-transform: uppercase;
  font-family: Arial;
  text-align: center;
  font-weight: 100;
  font-size: 16px;
}

.main .special-offers-section .card-row .card .card-title.ref-title {
  color: #e2a983;
}

.main .special-offers-section .card-row .card .card-text {
  text-align: center;
}

.main .special-offers-section .card-row .card a.btn {
  margin: auto;
}

.main .faq-section {
  min-height: 625px;
  position: relative;
}

.main .faq-section .ref-long-bline {
  position: absolute;
  top: -5rem;
  right: 43.5rem;
}

.main .faq-section .ref-program-box {
  position: absolute;
  background-image: url("/public/assets/img/homepage/fooldal_referenciaprogram.png");
  background-repeat: no-repeat;
  background-size: cover;
  top: -5rem;
  left: 0;
  width: 100%;
  max-height: 25%;
  height: 100%;
}

.main .faq-section .ref-program-box .ref-green-line {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.main .faq-section .program-text {
  width: 90%;
  top: -4.2rem;
  position: absolute;
  text-align: justify;
  margin-left: 1rem;
}

.main .faq-section .program-text h2.ref-title {
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
}

.main .faq-section .program-text p.ref-text {
  color: #fff;
}

.main .faq-section .faq-container {
  padding-top: 10rem;
}

.main .faq-section .faq-container .heading-group {
  padding-bottom: 0;
}

.main .faq-section .faq-container h2 {
  color: #99992a;
  margin-bottom: 0;
}

.main .faq-section .faq-container .text-highlight {
  color: #99992a;
}

.main .faq-section .faq-row {
  position: relative;
  z-index: 9999;
}

.main .faq-section .faq-row p {
  padding-bottom: 2rem;
}

.main .testimonial {
  min-height: 885px;
  background-image: url("/public/assets/img/homepage/fooldal_rolunkmondtak_BG.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.main .testimonial .line-box {
  position: relative;
}

.main .testimonial .line-box .testi-top-line {
  position: relative;
  top: -5rem;
  left: -15rem;
}

.main .testimonial .testi-column {
  position: relative;
}

.main .testimonial .testi-column .testi-bottom-lines {
  position: absolute;
  right: 0;
  bottom: 0;
}

.main .testimonial h2 {
  margin-bottom: 0;
}

.main .testimonial .testi-row {
  padding: 10rem 0 5rem;
}

.main .testimonial .testi-row .testi-main-img {
  position: relative;
  top: -10rem;
}

.main .testimonial .testi-row .testi-card {
  background-color: white;
  padding: 2rem;
  margin-top: -10rem;
  margin-left: -2rem;
  padding-right: 0;
}

.main .testimonial .testi-row .testi-card .commas-row {
  font-size: 18px;
  width: 100%;
}

.main .testimonial .testi-row .testi-card .commas {
  margin: 2rem 0;
  position: relative;
  padding: 2rem 0;
}

.main .testimonial .testi-row .testi-card .commas .commas-top {
  position: relative;
  top: 0;
  right: 0;
}

.main .testimonial .testi-row .testi-card .commas .commas-bottom {
  position: relative;
  bottom: 0;
  left: 0;
  width: 50px;
}

.main .testimonial .testi-row .testi-card p {
  text-align: justify;
}

.main .news {
  background-color: white;
  position: relative;
  padding: 0 0 4rem;
}

.main .news .m-container {
  position: relative;
  z-index: 9999;
}

.main .news .news-row {
  padding: 15px;
}

.main .news .news-row h2 {
  margin-top: -3rem;
}

.main .news .news-row .news-card {
  position: relative;
}

.main .news .news-row .news-card .news-card-title h4 {
  font-size: 1em;
  font-weight: 100;
  font-family: Arial, "sans-serif";
  text-transform: uppercase;
}

.main .news .news-row .news-card .news-card-text {
  width: 85%;
  padding-bottom: 3rem;
}

.main .news .news-row .news-card .news-bottom-lines {
  position: absolute;
  right: 0;
  bottom: 0;
}

footer.mega-footer {
  padding: 3rem 0 1rem;
  background-color: #ededed;
  min-height: 400px;
  font-family: "Myriad-Regular", "sans-serif";
}

footer.mega-footer h4 {
  font-size: 1.5em;
}

footer.mega-footer .footer-list {
  padding-left: 0;
}

footer.mega-footer .footer-list li {
  list-style-type: none;
  padding: 15px 0;
}

footer.mega-footer .footer-list li a {
  color: #586e27;
}

footer.mega-footer .footer-list li a:hover {
  color: #e2a983;
}

footer.mega-footer .flex-outer {
  list-style-type: none;
  padding: 0;
  max-width: 800px;
  margin: 0 auto;
}

footer.mega-footer .flex-outer li {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

footer.mega-footer .flex-outer > li:not(:last-child) {
  margin-bottom: 20px;
}

footer.mega-footer .flex-outer li p {
  padding: 8px;
  font-weight: 300;
  letter-spacing: 0.09em;
  flex: 1 0 120px;
  max-width: 220px;
  margin: 0;
}

footer.mega-footer .flex-outer > li > label {
  flex: 1 0 120px;
  max-width: 220px;
  padding: 8px;
  font-weight: 300;
  letter-spacing: 0.09em;
  font-family: "Myriad-Regular", "sans-serif";
  font-size: 12px;
}

footer.mega-footer .flex-outer li input:not([type=checkbox]),
footer.mega-footer .flex-outer li select {
  padding: 10px;
  border: none;
  background-color: white;
  width: 100%;
}

footer.mega-footer .flex-outer li button {
  border: none;
  letter-spacing: 0.09em;
  position: relative;
  z-index: 9999;
}

footer.sticky-footer {
  background-color: #141611;
  min-height: 120px;
  position: relative;
}

footer.sticky-footer .call-to-action-box {
  padding: 1rem;
  margin: auto;
  justify-content: center;
}

footer.sticky-footer span {
  color: #fff;
  padding: 2rem;
}

footer.sticky-footer span.call-to-action-text {
  color: #a7a7a6;
  font-size: 24px;
  font-family: Myriad;
}

footer.sticky-footer span a {
  color: #fff;
  font-size: 24px;
  font-family: Myriad;
}

footer.sticky-footer span a:hover {
  color: #e2a983;
}

footer.sticky-footer .sticky-footer-line {
  position: absolute;
  bottom: 0;
  margin: 0 3rem;
  height: 100%;
}

@media only screen and (min-width: 480px) {
  /* Styles for wide mobiles (480px) and above */

  footer.mega-footer .col {
    flex: 1 25%;
  }
}

@media only screen and (min-width: 768px) {
  .column-reverse {
    flex-direction: row;
  }

  img.bottom-white-elem {
    bottom: -3rem;
    min-height: 13%;
  }

  img.top-white-elem {
    top: -3rem;
    min-height: 13%;
  }

  .row {
    display: flex;
    flex-wrap: inherit;
  }

  .col {
    flex: 0 1 50%;
  }

  nav.main-nav {
    /* Mobile menu */
  }

  nav.main-nav ul.menu {
    justify-content: center;
    width: 100%;
    left: 0;
    background-color: transparent;
    height: 85px;
  }

  nav.main-nav ul.menu li {
    flex: 1;
    padding: 2rem 1rem 0 0;
  }

  nav.main-nav ul.menu li.item {
    border-bottom: none;
    padding: 35px 0.7rem 0 0;
    display: block;
    width: auto;
    order: 2;
  }

  nav.main-nav ul.menu li.item.contact-item,
  nav.main-nav ul.menu li.item.mobil-projects {
    padding-right: 1rem;
  }

  nav.main-nav ul.menu li.item.active {
    display: block;
  }

  nav.main-nav ul.menu li.toggle {
    display: none;
  }

  nav.main-nav ul.menu li.logo {
    flex: 1;
    order: 1;
  }

  nav.main-nav ul.menu li.logo img {
    max-width: 100px;
    margin-top: -22px;
    margin-left: 0.5rem;
    top: inherit;
    position: relative;
  }

  nav.main-nav ul.menu li a {
    color: #fff;
    font-size: 12px;
    line-height: 1.2;
  }

  nav.main-nav ul.menu li a.left-menu-item {
    font-size: 17px;
  }

  nav.main-nav.sticky-bg-color {
    background-color: rgba(255, 255, 255, 0.8);
    height: 85px;
    top: 0;
  }

  nav.main-nav.sticky-bg-color ul li a {
    color: #586e27;
  }

  /* Styles for tablets/netbooks (768px) and up */

  header.main-header {
    background-position: top center;
    min-height: 900px;
  }

  header.main-header:after {
    background: rgba(0, 0, 0, 0.2);
    opacity: 0.8;
    max-height: 890px;
  }

  .main .block-house-section img.top-white-elem {
    top: -3rem;
    min-height: 13%;
  }

  .main .block-house-section img.bottom-white-elem {
    bottom: -3rem;
    min-height: 13%;
  }

  .main .block-house-section .heading-group img.line-top {
    right: 4rem;
    top: -4rem;
  }

  .main .block-house-section .img-wrap img {
    margin-bottom: 0;
  }

  .main .testimonial .testi-row .testi-main-img {
    position: inherit;
  }

  .main .testimonial .testi-row .testi-card {
    margin-top: -10rem;
    margin-left: -2rem;
    padding-right: 4rem;
  }

  .main .news .news-row .news-card .news-bottom-lines.second-row-line {
    left: -10rem;
  }

  footer.sticky-footer .sticky-footer-line {
    position: absolute;
    top: -5.7rem;
    margin: 0 3rem;
    height: auto;
  }
}

@media only screen and (min-width: 992px) {
  /* Styles for large screens (desktops 992px) and above */

  nav.main-nav {
    /* Mobile menu */
  }

  nav.main-nav ul.menu {
    width: 80%;
    left: 6rem;
    flex-wrap: nowrap;
  }

  nav.main-nav ul.menu li {
    flex: 1 0 auto;
    padding: 2rem 1.5rem 0 0;
  }

  nav.main-nav ul.menu li.item {
    border-bottom: 1px solid white;
    display: block;
    width: auto;
    order: 1;
    padding-top: 35px;
  }

  nav.main-nav ul.menu li.item.contact-item,
  nav.main-nav ul.menu li.item.mobil-projects {
    padding-right: 0;
  }

  nav.main-nav ul.menu li.item.active {
    display: block;
  }

  nav.main-nav ul.menu li.logo {
    order: 1;
  }

  nav.main-nav ul.menu li.logo img {
    max-width: 120px;
    margin-left: 1.5rem;
  }

  nav.main-nav ul.menu li a {
    font-size: 14px;
    line-height: 50px;
  }

  nav.main-nav ul.menu li a.left-menu-item {
    font-size: 1em;
  }

  header.main-header {
    background-position: top center;
    min-height: 900px;
  }

  header.main-header:after {
    background: rgba(0, 0, 0, 0.1);
    opacity: 0.8;
  }

  /* header layer */

  article.header-layer-container .row .main-layer h1 {
    font-size: 80px;
  }

  .main .testimonial .testi-row {
    padding: 10rem 0 10rem;
  }

  .main .testimonial .testi-row .testi-card {
    margin-top: -10rem;
    margin-left: -2rem;
    padding-right: 8rem;
  }
}

@media only screen and (min-width: 1200px) {
  .pl-0 {
    padding-left: 0;
  }

  .main .faq-section .ref-program-box {
    top: -5rem;
    left: 0;
    width: 50%;
    max-height: 200px;
    height: 100%;
  }

  .main .faq-section .ref-program-box .ref-green-line {
    position: absolute;
    bottom: -5px;
    right: -40px;
  }

  .main .faq-section .program-text {
    width: 30%;
    top: -4.2rem;
    margin-left: 1rem;
  }

  .main .faq-section .faq-container {
    padding-top: 7rem;
  }

  .main .faq-section .faq-container .heading-group {
    padding-bottom: 0;
  }

  .main .faq-section .faq-container h2 {
    color: #99992a;
    margin-bottom: 0;
  }

  .main .testimonial .testi-column .testi-bottom-lines {
    right: -1rem;
    bottom: -1rem;
  }

  .main .testimonial .testi-row .testi-card {
    margin-top: -10rem;
    margin-left: -2rem;
    padding-right: 10rem;
  }

  .main .testimonial .testi-row .testi-card .commas-row {
    font-size: 18px;
    width: 120%;
  }

  .main .testimonial .testi-row .testi-card .commas {
    margin: 2rem 0;
    padding: 2rem 0;
  }

  .main .testimonial .testi-row .testi-card .commas .commas-top {
    position: relative;
    top: 30px;
    right: -12rem;
  }

  .main .testimonial .testi-row .testi-card .commas .commas-bottom {
    bottom: 30px;
    left: -12rem;
    width: 50px;
  }

  footer.mega-footer .col {
    flex: 1 50%;
  }
}

@media only screen and (min-width: 1400px) {
  /* Styles for large screens (desktops 1024px) and above */

  nav.main-nav {
    /* Mobile menu */
  }

  nav.main-nav ul.menu {
    width: 75%;
    left: inherit;
  }

  nav.main-nav ul.menu li.item {
    display: block;
    width: auto;
    order: 1;
  }

  nav.main-nav ul.menu li.item.active {
    display: block;
  }

  nav.main-nav ul.menu li.logo {
    order: 1;
  }

  nav.main-nav ul.menu li.logo img {
    max-width: 160px;
  }

  nav.main-nav ul.menu li a.left-menu-item {
    font-size: 18px;
  }

  header.main-header {
    background-position: top center;
    min-height: 900px;
  }

  header.main-header:after {
    background: rgba(0, 0, 0, 0);
    opacity: 1;
  }

  /* header layer */

  article.header-layer-container .row .main-layer h1 {
    font-size: 100px;
  }
}

