/* forms */

@font-face {
  font-family: "GillSansMT-Condensed";
  src: url("/public/assets/fonts/gillsans/GillSansMT-Condensed.TTF");
}

@font-face {
  font-family: "GillSans-Regular";
  src: url("/public/assets/fonts/gillsans/GillSansMT-Regular.TTF");
}

@font-face {
  font-family: "Horizon-Regular";
  src: url("/public/assets/fonts/horizon/Horizon Type - AcherusGrotesque-Regular.otf");
}

@font-face {
  font-family: "Arial";
  src: url("/public/assets/fonts/arial/arial.ttf");
}

@font-face {
  font-family: "Myriad-Regular";
  src: url("/public/assets/fonts/myriad/MyriadPro-Regular.otf");
}

@font-face {
  font-family: "HelveticaNeue-Light-Cond";
  src: url("/public/assets/fonts/helvetica/HelveticaNeueLT-LightCond.otf");
}

html,
body {
  background-color: #fff;
  color: #636b6f;
  font-family: GillSansMT-Condensed;
  font-weight: 200;
  height: 100vh;
  margin: 0;
}

/* basic */

.m-container {
  max-width: 1140px;
  display: block;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  flex: 1 100%;
  padding: 15px;
}

.col-12 {
  flex: 1 100%;
  padding: 15px;
}

.col-6 {
  flex: 1 60%;
  padding: 15px;
}

.col-4 {
  flex: 1 40%;
  padding: 15px;
}

.col-7 {
  flex: 1 70%;
  padding: 15px;
}

.col-3 {
  flex: 1 30%;
  padding: 15px;
}

.col-8 {
  flex: 1 80%;
  padding: 15px;
}

.col-2 {
  flex: 1 20%;
  padding: 15px;
}

.ml-0 {
  margin-left: 0;
}

.mr-0 {
  margin-right: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.pl-0 {
  padding-left: 0;
}

.column-reverse {
  flex-direction: column-reverse;
}

.position-relative {
  position: relative;
}

/* pictures */

div.img-wrap {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.img-wrap img {
  max-width: 100%;
  height: auto;
  margin: auto;
  display: flex;
}

img {
  max-width: 100%;
  height: auto;
  margin: auto;
  display: flex;
}

.img-after:after {
  content: "\A";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0.8;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  top: 0;
}

figure {
  margin: auto;
}

/* Typography */

a {
  text-decoration: none;
}

h1 {
  font-size: 100px;
  line-height: 1;
  font-weight: 100;
}

h2 {
  font-size: 36px;
  text-transform: uppercase;
  font-weight: 100;
}

h3 {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 100;
}

p,
li {
  font-size: 14px;
  font-family: Arial;
}

.pagination {
  display: inline-block;
  margin: auto;
  padding: 5rem 0;
  width: 100%;
}

.pagination .pagination-container {
  display: flex;
  justify-content: center;
}

.pagination .pagination-container a {
  color: #adadad;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination .pagination-container a:hover {
  color: #586e27;
}

.pagination .pagination-container a.active,
.pagination .pagination-container a:active {
  color: #586e27;
  font-size: 1.2em;
}

/* buttons */

.default {
  color: #fff;
  border: 1px solid #fff;
}

.default:hover {
  background-color: #586e27;
  border: 1px solid #586e27;
}

.btn-primary {
  background-color: #586e27;
  color: #fff;
}

.btn-primary:hover {
  background-color: #e2a983;
  color: #b6764c;
}

.btn-primary-inverse {
  background-color: #e2a983;
  color: #b6764c;
}

.btn-primary-inverse:hover {
  background-color: #586e27;
  color: #fff;
}

.news-btn {
  font-size: 14px;
  color: #586e27;
  font-weight: bold;
  font-family: Arial, "sans-serif";
  position: relative;
  z-index: 9999;
}

.news-btn:hover {
  color: #82b77d;
}

.btn-secondary {
  background-color: #99992a;
  color: #fff;
}

.btn-secondary:hover {
  background-color: #b6764c;
}

.btn {
  padding: 10px;
  max-width: 170px;
  width: 100%;
  display: flex;
  font-family: HelveticaNeue-Light-Cond;
  text-transform: uppercase;
  font-size: 14px;
  justify-content: center;
}

.heading-top-transform {
  margin-top: -85px;
}

.text-highlight {
  color: #99992a;
}

.text-highlight-darker {
  color: #586e27;
}

.text-white {
  color: #fff;
}

img.bottom-white-elem {
  position: absolute;
  bottom: -2rem;
  right: 0;
  width: 50%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  min-height: 5%;
}

img.top-white-elem {
  position: absolute;
  top: -4rem;
  left: 0;
  width: 50%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  min-height: 5%;
}

/* All card will be a clickable */

.clickable-card-link::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  pointer-events: auto;
  content: "";
  background-color: rgba(0, 0, 0, 0);
}

.horizontal-card {
  position: relative;
  z-index: 99999;
}

/* menu a transition */

.menu .item a {
  position: relative;
}

.menu .item a:before,
.menu .item a:after {
  height: 14px;
  width: 14px;
  position: absolute;
  content: "";
  transition: all 0.35s ease;
  opacity: 0;
}

.menu .item a:before {
  left: -10px;
  top: -10px;
  border-left: 3px solid #99992a;
  border-top: 3px solid #99992a;
  transform: translate(100%, 50%);
}

.menu .item a:after {
  right: -10px;
  bottom: -10px;
  border-right: 3px solid #99992a;
  border-bottom: 3px solid #99992a;
  transform: translate(-100%, -50%);
}

.menu .item a:hover {
  color: #99992a;
}

.menu .item a:hover:before,
.menu .item a:hover:after {
  transform: translate(0%, 0%);
  opacity: 1;
}

/* navigation and header */

nav.main-nav {
  /* Mobile menu */
  position: fixed;
  z-index: 999999;
  height: 85px;
  top: 0;
  width: 100%;
}

nav.main-nav ul.menu {
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  display: flex;
  width: 100%;
  padding-left: 0;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.8);
}

nav.main-nav ul.menu li.item {
  padding: 1rem 0 1rem 0;
  border-bottom: 1px solid #dedede;
  width: 100%;
  text-align: center;
  order: 3;
  display: none;
}

nav.main-nav ul.menu li.item.contact-item,
nav.main-nav ul.menu li.item.mobil-projects {
  padding-right: 0;
}

nav.main-nav ul.menu li.item.active {
  display: block;
}

nav.main-nav ul.menu li.toggle {
  order: 1;
  top: 1.7rem;
  right: 0.5rem;
  position: relative;
  cursor: pointer;
  font-size: 1.5rem;
  color: #586e27;
}

nav.main-nav ul.menu li.logo img {
  max-width: 80px;
  position: relative;
  top: 0;
}

nav.main-nav ul.menu li a {
  color: #586e27;
  font-family: Myriad-Regular;
  font-size: 18px;
  text-decoration: none;
  line-height: 20px;
  transition: all 1s ease 0s;
}

nav.main-nav ul.menu li a.left-menu-item {
  font-size: 18px;
}

nav.main-nav ul.menu li a.sticky-color {
  color: #586e27;
}

nav.main-nav ul.menu li a.sticky-color:hover {
  color: #99992a;
}

nav.main-nav ul.menu li a:hover {
  color: #d0d039;
}

nav.main-nav.sticky-bg-color {
  background-color: rgba(255, 255, 255, 0.8);
  height: 65px;
  margin: auto;
  display: flex;
  width: 100%;
  top: 0;
}

header.main-header {
  background-image: url("/public/assets/img/homepage/Header2.png");
  background-position: top center;
  background-repeat: no-repeat;
  min-height: 900px;
  background-size: cover;
  background-attachment: fixed;
  margin-top: -85px;
}

.header-after:after {
  content: "\A";
  position: absolute;
  width: 100%;
  height: 100%;
  min-height: 900px;
  top: -85px;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0.8;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

/* header layer */

article.header-layer-container .row {
  flex-direction: row-reverse;
}

article.header-layer-container .row .main-layer {
  position: relative;
  top: 14rem;
  padding: 2rem;
  z-index: 9999;
}

article.header-layer-container .row .main-layer .text-box {
  position: relative;
}

article.header-layer-container .row .main-layer .text-box .home-header-svg {
  position: absolute;
  right: -10px;
  bottom: -10px;
  width: 117px;
  height: 117px;
  margin: -1rem;
}

article.header-layer-container .row .main-layer h1 {
  font-size: 4em;
  color: #fff;
  font-family: GillSansMT-Condensed;
  text-transform: uppercase;
  margin: 1rem 0;
}

article.header-layer-container .row .main-layer p {
  margin-top: -20px;
  font-family: Arial;
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
}

/* Homepage main import */

/* main */

.main .block-house-section {
  min-height: 380px;
  position: relative;
}

.main .block-house-section img.bottom-white-elem {
  position: absolute;
  bottom: -2rem;
  right: 0;
  width: 50%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  min-height: 5%;
}

.main .block-house-section h2 {
  color: #586e27;
  position: relative;
  z-index: 9999;
}

.main .block-house-section .heading-group {
  position: relative;
}

.main .block-house-section .heading-group img.line-top {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 9999;
}

.main .block-house-section .img-wrap img {
  margin-bottom: 2rem;
}

.main .block-house-section .img-column {
  position: relative;
  z-index: 9999;
}

.main .block-house-section .img-column .line-bottom {
  position: absolute;
  bottom: -4rem;
  right: 13rem;
  z-index: 9999;
}

.main .block-house-section figcaption {
  text-align: center;
}

.main .special-offers-section {
  min-height: 730px;
  background-color: #ededed;
}

.main .special-offers-section h2 {
  color: #b6764c;
}

.main .special-offers-section .card-row {
  padding-bottom: 8rem;
}

.main .special-offers-section .card-row .card {
  background-color: #fff;
  padding: 1.5rem;
  position: relative;
}

.main .special-offers-section .card-row .card .card-title {
  color: #586e27;
  text-transform: uppercase;
  font-family: Arial;
  text-align: center;
  font-weight: 100;
  font-size: 16px;
}

.main .special-offers-section .card-row .card .card-title.ref-title {
  color: #e2a983;
}

.main .special-offers-section .card-row .card .card-text {
  text-align: center;
}

.main .special-offers-section .card-row .card a.btn {
  margin: auto;
}

.main .faq-section {
  min-height: 625px;
  position: relative;
}

.main .faq-section .ref-long-bline {
  position: absolute;
  top: -5rem;
  right: 43.5rem;
}

.main .faq-section .ref-program-box {
  position: absolute;
  background-image: url("/public/assets/img/homepage/fooldal_referenciaprogram.png");
  background-repeat: no-repeat;
  background-size: cover;
  top: -5rem;
  left: 0;
  width: 100%;
  max-height: 25%;
  height: 100%;
}

.main .faq-section .ref-program-box .ref-green-line {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.main .faq-section .program-text {
  width: 90%;
  top: -4.2rem;
  position: absolute;
  text-align: justify;
  margin-left: 1rem;
}

.main .faq-section .program-text h2.ref-title {
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
}

.main .faq-section .program-text p.ref-text {
  color: #fff;
}

.main .faq-section .faq-container {
  padding-top: 10rem;
}

.main .faq-section .faq-container .heading-group {
  padding-bottom: 0;
}

.main .faq-section .faq-container h2 {
  color: #99992a;
  margin-bottom: 0;
}

.main .faq-section .faq-container .text-highlight {
  color: #99992a;
}

.main .faq-section .faq-row {
  position: relative;
  z-index: 9999;
}

.main .faq-section .faq-row p {
  padding-bottom: 2rem;
}

.main .testimonial {
  min-height: 885px;
  background-image: url("/public/assets/img/homepage/fooldal_rolunkmondtak_BG.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.main .testimonial .line-box {
  position: relative;
}

.main .testimonial .line-box .testi-top-line {
  position: relative;
  top: -5rem;
  left: -15rem;
}

.main .testimonial .testi-column {
  position: relative;
}

.main .testimonial .testi-column .testi-bottom-lines {
  position: absolute;
  right: 0;
  bottom: 0;
}

.main .testimonial h2 {
  margin-bottom: 0;
}

.main .testimonial .testi-row {
  padding: 10rem 0 5rem;
}

.main .testimonial .testi-row .testi-main-img {
  position: relative;
  top: -10rem;
}

.main .testimonial .testi-row .testi-card {
  background-color: white;
  padding: 2rem;
  margin-top: -10rem;
  margin-left: -2rem;
  padding-right: 0;
}

.main .testimonial .testi-row .testi-card .commas-row {
  font-size: 18px;
  width: 100%;
}

.main .testimonial .testi-row .testi-card .commas {
  margin: 2rem 0;
  position: relative;
  padding: 2rem 0;
}

.main .testimonial .testi-row .testi-card .commas .commas-top {
  position: relative;
  top: 0;
  right: 0;
}

.main .testimonial .testi-row .testi-card .commas .commas-bottom {
  position: relative;
  bottom: 0;
  left: 0;
  width: 50px;
}

.main .testimonial .testi-row .testi-card p {
  text-align: justify;
}

.main .news {
  background-color: white;
  position: relative;
  padding: 0 0 4rem;
}

.main .news .m-container {
  position: relative;
  z-index: 99999;
}

.main .news .news-row {
  padding: 15px;
}

.main .news .news-row h2 {
  margin-top: -3rem;
}

.main .news .news-row .news-card {
  position: relative;
}

.main .news .news-row .news-card .news-card-title h4 {
  font-size: 1em;
  font-weight: 100;
  font-family: Arial, "sans-serif";
  text-transform: uppercase;
}

.main .news .news-row .news-card .news-card-text {
  width: 85%;
  padding-bottom: 3rem;
}

.main .news .news-row .news-card .news-bottom-lines {
  position: absolute;
  right: 0;
  bottom: 0;
}

/* Subpages */

header.main-header.subpage-header-size {
  min-height: 540px;
}

header.main-header.subpage-header-size article.header-layer-container .row {
  flex-direction: row;
}

header.main-header.subpage-header-size article.header-layer-container .row .main-layer {
  position: relative;
  top: 14rem !important;
  z-index: 9999;
  padding: 1rem;
}

header.main-header.subpage-header-size article.header-layer-container .row .main-layer .text-box .home-header-svg {
  margin: -1rem 0;
  right: -15px;
}

header.main-header.subpage-primary-header-size {
  min-height: 900px;
}

header.main-header.subpage-primary-header-size article.header-layer-container .row {
  flex-direction: row;
}

header.main-header.subpage-primary-header-size article.header-layer-container .row .main-layer {
  position: relative;
  top: 20rem;
  z-index: 9999;
  padding: 1rem;
}

header.main-header.subpage-primary-header-size article.header-layer-container .row .main-layer .text-box .home-header-svg {
  margin: -1rem 0;
  right: -15px;
}

@media only screen and (min-width: 1200px) {
  header.main-header.subpage-header-size article.header-layer-container .row .main-layer {
    padding: 0;
  }

  header.main-header.subpage-primary-header-size article.header-layer-container .row .main-layer {
    padding: 0;
  }

  header.main-header.subpage-primary-header-size article.header-layer-container .row .main-layer {
    top: 30rem;
  }
}

header.news-subpage-header {
  background-image: url("/public/assets/img/news/news-header.png");
}

img.design-line-top,
img.design-line-right-top {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 9999;
}

@media only screen and (min-width: 992px) {
  img.design-line-top {
    position: absolute;
    top: -7rem;
    z-index: 9999;
    right: 62rem;
  }

  img.design-line-right-top {
    position: absolute;
    top: -1rem;
    z-index: 9999;
    right: 15rem;
  }
}

header.about-us-header {
  background-image: url("/public/assets/img/about-us/about-us-header.png");
}

.about-us-section,
.vision,
.company-goals {
  position: relative;
  padding-bottom: 3rem;
}

.about-us-section h2,
.vision h2,
.company-goals h2 {
  position: relative;
  z-index: 99999;
  margin-bottom: 0;
  margin-top: 0;
}

.about-us-section h2 {
  margin-top: -2rem;
}

.vision {
  background-image: url("/public/assets/img/homepage/fooldal_rolunkmondtak_BG.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 10rem;
  min-height: 400px;
}

.vision p {
  position: relative;
  z-index: 99999;
}

/* The Modal (background) */

.modal {
  display: none;
  position: fixed;
  z-index: 999999;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #c08964;
}

/* Modal Content */

.modal-content {
  position: relative;
  background-color: #c08964;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */

.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
  z-index: 99999;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.gellerySlides {
  display: none;
  margin-top: -5rem;
  height: 100vh;
}

.gellerySlides img {
  height: 100vh;
  -o-object-fit: contain;
     object-fit: contain;
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

img {
  margin-bottom: -4px;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img.design-line-top,
img.design-line-right-top {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 9999;
}

@media only screen and (min-width: 992px) {
  img.design-line-top {
    position: absolute;
    top: -7rem;
    z-index: 9999;
    right: 62rem;
  }

  img.design-line-right-top {
    position: absolute;
    top: -1rem;
    z-index: 9999;
    right: 15rem;
  }
}

/* References subpage */

header.references-header {
  background-image: url("/public/assets/img/references/referenciak.png");
}

.references-section,
.foorplan-section,
.gallery-section {
  position: relative;
  padding-bottom: 3rem;
}

.references-section h2,
.foorplan-section h2,
.gallery-section h2 {
  position: relative;
  z-index: 99999;
  margin-bottom: 0;
  margin-top: 0;
}

.references-section h2 {
  margin-top: 0;
  position: relative;
  z-index: 999999;
}

.foorplan-section {
  background-color: #c08964;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 4rem;
  min-height: 950px;
}

.foorplan-section p {
  position: relative;
  z-index: 99999;
}

@media only screen and (min-width: 992px) {
  .references-section h2 {
    margin-top: -1rem;
  }

  .references-subpage img.design-line-right-top {
    top: -6rem;
    left: -20rem;
  }
}

img.design-line-top,
img.design-line-right-top {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 9999;
}

@media only screen and (min-width: 992px) {
  img.design-line-top {
    position: absolute;
    top: -7rem;
    z-index: 9999;
    right: 62rem;
  }

  img.design-line-right-top {
    position: absolute;
    top: -1rem;
    z-index: 9999;
    right: 15rem;
  }
}

/* Cost subpage */

header.cost-header {
  background-image: url("/public/assets/img/cost/cost-header.jpg");
}

.cost-subpage .cost-list-container {
  text-align: left;
}

.cost-subpage .cost-list-container .cost-list-row {
  padding: 0;
  flex-wrap: wrap;
}

.cost-subpage .cost-list-container .cost-list-row .col-7,
.cost-subpage .cost-list-container .cost-list-row .col-3 {
  padding: 0;
}

.cost-subpage .cost-list-container .cost-list-row p {
  margin: 0;
  padding: 0;
}

.cost-subpage .cost1-section,
.cost-subpage .cost2-section,
.cost-subpage .cost3-section {
  position: relative;
  padding-bottom: 3rem;
}

.cost-subpage .cost1-section h2,
.cost-subpage .cost2-section h2,
.cost-subpage .cost3-section h2 {
  position: relative;
  z-index: 99999;
  margin-bottom: 0;
  margin-top: 0;
}

.cost-subpage .cost1-section h3,
.cost-subpage .cost2-section h3,
.cost-subpage .cost3-section h3 {
  margin: 0;
  text-align: center;
}

.cost-subpage .cost1-section a,
.cost-subpage .cost2-section a,
.cost-subpage .cost3-section a {
  margin: auto;
}

.cost-subpage .cost1-section h2 {
  margin-top: 0;
  position: relative;
  z-index: 99999;
}

.cost-subpage .cost2-section {
  background-color: #ededed;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 10rem;
  min-height: 950px;
}

.cost-subpage .cost2-section p {
  position: relative;
  z-index: 99999;
}

.cost-subpage .row {
  flex-wrap: wrap;
  position: relative;
  z-index: 99999;
}

.cost-subpage .col {
  flex: 1 100%;
  flex-wrap: wrap;
}

@media only screen and (min-width: 480px) {
  /* Cost subpage */

  .cost-subpage .cost-list-row {
    flex-wrap: nowrap;
    width: 60%;
    margin: auto;
  }
}

@media only screen and (min-width: 992px) {
  /* Cost subpage */

  .foorplan-img {
    margin-left: 0;
  }

  .cost1-section h2 {
    margin-top: -2rem;
  }

  .cost-subpage .cost1-section h3,
  .cost-subpage .cost2-section h3,
  .cost-subpage .cost3-section h3 {
    text-align: left;
  }

  .cost-subpage .cost1-section a,
  .cost-subpage .cost2-section a,
  .cost-subpage .cost3-section a {
    margin: 0;
  }

  .cost-subpage .cost-list-row {
    width: 100%;
  }

  .cost-subpage .row {
    flex-wrap: nowrap;
  }

  .cost-subpage .col {
    flex: 1 50%;
  }
}

img.design-line-top,
img.design-line-right-top {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 9999;
}

@media only screen and (min-width: 992px) {
  img.design-line-top {
    position: absolute;
    top: -7rem;
    z-index: 9999;
    right: 62rem;
  }

  img.design-line-right-top {
    position: absolute;
    top: -1rem;
    z-index: 9999;
    right: 15rem;
  }
}

.flex-outer {
  list-style-type: none;
  padding: 0;
  max-width: 800px;
  margin: 0 auto;
}

.flex-outer label {
  flex: 1 0 120px;
  max-width: 220px;
  padding: 8px;
  font-weight: 300;
  letter-spacing: 0.09em;
  font-family: "Myriad-Regular", "sans-serif";
  font-size: 12px;
}

.flex-outer p {
  padding: 8px;
  font-weight: 300;
  letter-spacing: 0.09em;
  flex: 1 0 120px;
  max-width: 220px;
  margin: 0;
}

.flex-outer button {
  border: none;
  letter-spacing: 0.09em;
  position: relative;
  z-index: 9999;
}

.flex-outer textarea {
  width: 100%;
  min-height: 300px;
  border: 1px solid #bcc5a9;
}

.flex-outer input:not([type=checkbox]),
.flex-outer select {
  padding: 10px;
  background-color: white;
  width: 100%;
  border: 1px solid #bcc5a9;
}

.content {
  width: 95%;
}

.content .question {
  font-size: 14px;
  font-family: Arial, sans-serif;
  position: relative;
  background: #99992a;
  color: white;
  margin: 0;
  padding: 10px;
  display: block;
  width: 100%;
  cursor: pointer;
}

.content .answers {
  font-size: 14px;
  font-family: Arial, sans-serif;
  background: transparent;
  color: #aec777;
  padding: 0px 15px;
  margin: 5px 0;
  max-height: 0;
  overflow: hidden;
  position: relative;
  opacity: 0;
  transition: 0.7s ease;
}

.content .arrow {
  position: absolute;
  margin-left: 10px;
  margin-top: 7px;
  z-index: 5;
  font-size: 2em;
  right: 10px;
  top: 0;
  line-height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  transition: 0.3s ease;
}

.content .questions:checked ~ .answers {
  max-height: 500px;
  opacity: 1;
  padding: 15px;
}

.content .questions:checked ~ * .arrow {
  transform: rotate(90deg);
}

.content .questions {
  display: none;
}

.tabs {
  clear: both;
  position: relative;
  width: 100%;
  margin: 0 auto;
  /* you can either manually set a min-height here or do it via JS ---> */
}

.tabs .tab {
  float: left;
}

.tabs .tab label {
  margin-right: 20px;
  position: relative;
  top: 0;
  cursor: pointer;
  color: white;
  text-transform: uppercase;
}

.tabs .tab .tab__content {
  position: relative;
  top: 40px;
  left: 0;
  right: 0;
  bottom: 0;
  transition: opacity 0.2s cubic-bezier(0.42, 0, 0.34, 1.01);
  opacity: 0;
}

.tabs [type=radio]:checked ~ label {
  border-bottom: 2px solid white;
  color: white;
  z-index: 2;
}

.tabs [type=radio]:checked ~ label ~ .tab__content {
  z-index: 1;
  opacity: 1;
}

.tabs .tab [type=radio] {
  display: none;
}

/* offer subpage */

header.offer-header {
  background-image: url("/public/assets/img/offer/offer-header.jpg");
}

.offer-subpage .form-section {
  position: relative;
}

.offer-subpage .form-section h2 {
  margin-top: 0;
  position: relative;
  z-index: 99999;
}

.offer-subpage .faq-sub-section {
  position: relative;
  background-color: #586e27;
  color: #aec777;
  padding-bottom: 3rem;
  padding-top: 3rem;
  min-height: 600px;
}

@media only screen and (min-width: 992px) {
  /* offer subpage */

  .offer-subpage .form-section h2 {
    margin-top: -2rem;
  }
}

img.design-line-top,
img.design-line-right-top {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 9999;
}

@media only screen and (min-width: 992px) {
  img.design-line-top {
    position: absolute;
    top: -7rem;
    z-index: 9999;
    right: 62rem;
  }

  img.design-line-right-top {
    position: absolute;
    top: -1rem;
    z-index: 9999;
    right: 15rem;
  }
}

.flex-outer {
  list-style-type: none;
  padding: 0;
  max-width: 800px;
  margin: 0 auto;
}

.flex-outer label {
  flex: 1 0 120px;
  max-width: 220px;
  padding: 8px;
  font-weight: 300;
  letter-spacing: 0.09em;
  font-family: "Myriad-Regular", "sans-serif";
  font-size: 12px;
}

.flex-outer p {
  padding: 8px;
  font-weight: 300;
  letter-spacing: 0.09em;
  flex: 1 0 120px;
  max-width: 220px;
  margin: 0;
}

.flex-outer button {
  border: none;
  letter-spacing: 0.09em;
  position: relative;
  z-index: 9999;
}

.flex-outer textarea {
  width: 100%;
  min-height: 300px;
  border: 1px solid #bcc5a9;
}

.flex-outer input:not([type=checkbox]),
.flex-outer select {
  padding: 10px;
  background-color: white;
  width: 100%;
  border: 1px solid #bcc5a9;
}

header.contact-header {
  background-image: url("/public/assets/img/contact/contact.png");
}

.contact-page .contact-section {
  position: relative;
}

.contact-page .contact-section .personal-datas ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.contact-page .form-section {
  position: relative;
}

.contact-page .form-section h2 {
  margin-top: 0;
  position: relative;
  z-index: 99999;
}

.contact-page .map {
  position: relative;
  background-color: #586e27;
  padding-bottom: 3rem;
  padding-top: 3rem;
  background-image: url("/public/assets/img/contact/map.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 400px;
}

@media only screen and (min-width: 992px) {
  /* offer subpage */

  .contact-subpage .form-section h2 {
    margin-top: -2rem;
  }
}

img.design-line-top,
img.design-line-right-top {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 9999;
}

@media only screen and (min-width: 992px) {
  img.design-line-top {
    position: absolute;
    top: -7rem;
    z-index: 9999;
    right: 62rem;
  }

  img.design-line-right-top {
    position: absolute;
    top: -1rem;
    z-index: 9999;
    right: 15rem;
  }
}

.flex-outer {
  list-style-type: none;
  padding: 0;
  max-width: 800px;
  margin: 0 auto;
}

.flex-outer label {
  flex: 1 0 120px;
  max-width: 220px;
  padding: 8px;
  font-weight: 300;
  letter-spacing: 0.09em;
  font-family: "Myriad-Regular", "sans-serif";
  font-size: 12px;
}

.flex-outer p {
  padding: 8px;
  font-weight: 300;
  letter-spacing: 0.09em;
  flex: 1 0 120px;
  max-width: 220px;
  margin: 0;
}

.flex-outer button {
  border: none;
  letter-spacing: 0.09em;
  position: relative;
  z-index: 9999;
}

.flex-outer textarea {
  width: 100%;
  min-height: 300px;
  border: 1px solid #bcc5a9;
}

.flex-outer input:not([type=checkbox]),
.flex-outer select {
  padding: 10px;
  background-color: white;
  width: 100%;
  border: 1px solid #bcc5a9;
}

header.ingredients-header {
  background-image: url("/public/assets/img/ingredients/ingredients-bg.jpg");
  /* Photo by Reto Scheiwiller */
}

.ingredients-page .type-section {
  position: relative;
}

.ingredients-page .type-section h2 {
  margin-top: -2rem;
  position: relative;
  z-index: 9999;
}

.ingredients-page .swot-section {
  position: relative;
  background-color: #586e27;
  min-height: 500px;
}

.ingredients-page .properties {
  position: relative;
}

.ingredients-page .properties h2 {
  margin-top: -2rem;
  position: relative;
  z-index: 9999;
}

.ingredients-page .properties .vector-col img {
  margin-top: 2rem;
}

/* Footer import */

footer.mega-footer {
  padding: 3rem 0 1rem;
  background-color: #ededed;
  min-height: 400px;
  font-family: "Myriad-Regular", "sans-serif";
}

footer.mega-footer h4 {
  font-size: 1.5em;
}

footer.mega-footer .footer-list {
  padding-left: 0;
}

footer.mega-footer .footer-list li {
  list-style-type: none;
  padding: 15px 0;
}

footer.mega-footer .footer-list li a {
  color: #586e27;
}

footer.mega-footer .footer-list li a:hover {
  color: #e2a983;
}

footer.mega-footer .flex-outer {
  list-style-type: none;
  padding: 0;
  max-width: 800px;
  margin: 0 auto;
}

footer.mega-footer .flex-outer li {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

footer.mega-footer .flex-outer > li:not(:last-child) {
  margin-bottom: 20px;
}

footer.mega-footer .flex-outer li p {
  padding: 8px;
  font-weight: 300;
  letter-spacing: 0.09em;
  flex: 1 0 120px;
  max-width: 220px;
  margin: 0;
}

footer.mega-footer .flex-outer > li > label {
  flex: 1 0 120px;
  max-width: 220px;
  padding: 8px;
  font-weight: 300;
  letter-spacing: 0.09em;
  font-family: "Myriad-Regular", "sans-serif";
  font-size: 12px;
}

footer.mega-footer .flex-outer li input:not([type=checkbox]),
footer.mega-footer .flex-outer li select {
  padding: 10px;
  border: none;
  background-color: white;
  width: 100%;
}

footer.mega-footer .flex-outer li button {
  border: none;
  letter-spacing: 0.09em;
  position: relative;
  z-index: 9999;
}

footer.sticky-footer {
  background-color: #141611;
  min-height: 120px;
  position: relative;
}

footer.sticky-footer .call-to-action-box {
  padding: 1rem;
  margin: auto;
  justify-content: center;
  display: flex;
}

footer.sticky-footer span {
  color: #fff;
  padding: 2rem;
}

footer.sticky-footer span.call-to-action-text {
  color: #a7a7a6;
  font-size: 24px;
  font-family: Myriad;
}

footer.sticky-footer span a {
  color: #fff;
  font-size: 24px;
  font-family: Myriad;
}

footer.sticky-footer span a:hover {
  color: #e2a983;
}

footer.sticky-footer .sticky-footer-line {
  position: absolute;
  bottom: 0;
  margin: 0 3rem;
  height: 100%;
}

/* Homepage responsive import */

@media only screen and (min-width: 480px) {
  /* Styles for wide mobiles (480px) and above */

  footer.mega-footer .col {
    flex: 1 25%;
  }
}

@media only screen and (min-width: 768px) {
  .column-reverse {
    flex-direction: row;
  }

  img.bottom-white-elem {
    bottom: -3rem;
    min-height: 13%;
    z-index: 9999;
  }

  img.top-white-elem {
    top: -3rem;
    min-height: 13%;
    z-index: 9999;
  }

  .row {
    display: flex;
    flex-wrap: inherit;
  }

  .col {
    flex: 0 1 50%;
  }

  nav.main-nav {
    /* Mobile menu */
  }

  nav.main-nav ul.menu {
    justify-content: center;
    width: 100%;
    left: 0;
    background-color: transparent;
    height: 85px;
  }

  nav.main-nav ul.menu li {
    flex: 1;
    padding: 2rem 1rem 0 0;
  }

  nav.main-nav ul.menu li.item {
    border-bottom: none;
    padding: 35px 0.7rem 0 0;
    display: block;
    width: auto;
    order: 2;
  }

  nav.main-nav ul.menu li.item.contact-item,
  nav.main-nav ul.menu li.item.mobil-projects {
    padding-right: 1rem;
  }

  nav.main-nav ul.menu li.item.active {
    display: block;
  }

  nav.main-nav ul.menu li.toggle {
    display: none;
  }

  nav.main-nav ul.menu li.logo {
    flex: 1;
    order: 1;
  }

  nav.main-nav ul.menu li.logo img {
    max-width: 100px;
    margin-top: -32px;
    margin-left: 0.5rem;
    top: inherit;
    position: relative;
  }

  nav.main-nav ul.menu li a {
    color: #fff;
    font-size: 12px;
    line-height: 1.2;
  }

  nav.main-nav ul.menu li a.left-menu-item {
    font-size: 17px;
  }

  nav.main-nav.sticky-bg-color {
    background-color: rgba(255, 255, 255, 0.8);
    height: 85px;
    top: 0;
  }

  nav.main-nav.sticky-bg-color ul li a {
    color: #586e27;
  }

  /* Styles for tablets/netbooks (768px) and up */

  header.main-header {
    background-position: top center;
    min-height: 900px;
  }

  .header-after:after {
    background: rgba(0, 0, 0, 0.2);
    opacity: 0.8;
    max-height: 890px;
  }

  /* header layer */

  article.header-layer-container .row .main-layer {
    top: 17rem;
  }

  .main .block-house-section img.top-white-elem {
    top: -3rem;
    min-height: 13%;
  }

  .main .block-house-section img.bottom-white-elem {
    bottom: -3rem;
    min-height: 13%;
  }

  .main .block-house-section .heading-group img.line-top {
    right: 4rem;
    top: -4rem;
  }

  .main .block-house-section .img-wrap img {
    margin-bottom: 0;
  }

  .main .testimonial .testi-row .testi-main-img {
    width: 350px;
    margin-right: 0;
    position: relative;
    top: 0;
  }

  .main .testimonial .testi-row .testi-card {
    margin-top: -10rem;
    margin-left: -2rem;
    padding-right: 4rem;
  }

  .main .news .news-row .news-card .news-bottom-lines.second-row-line {
    left: -10px;
    right: inherit;
    bottom: -10px;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
  }

  footer.sticky-footer .sticky-footer-line {
    position: absolute;
    top: -5.7rem;
    margin: 0 3rem;
    height: auto;
  }
}

@media only screen and (min-width: 992px) {
  /* Styles for large screens (desktops 992px) and above */

  nav.main-nav {
    /* Mobile menu */
  }

  nav.main-nav ul.menu {
    width: 80%;
    left: 6rem;
    flex-wrap: nowrap;
  }

  nav.main-nav ul.menu li {
    flex: 1 0 auto;
    padding: 2rem 1.5rem 0 0;
  }

  nav.main-nav ul.menu li.item {
    border-bottom: 1px solid white;
    display: block;
    width: auto;
    order: 1;
    padding-top: 35px;
  }

  nav.main-nav ul.menu li.item.contact-item,
  nav.main-nav ul.menu li.item.mobil-projects {
    padding-right: 0;
  }

  nav.main-nav ul.menu li.item.active {
    display: block;
  }

  nav.main-nav ul.menu li.logo {
    order: 1;
  }

  nav.main-nav ul.menu li.logo img {
    max-width: 120px;
    margin-left: 1.5rem;
  }

  nav.main-nav ul.menu li a {
    font-size: 14px;
    line-height: 50px;
  }

  nav.main-nav ul.menu li a.left-menu-item {
    font-size: 1em;
  }

  header.main-header {
    background-position: top center;
    min-height: 900px;
  }

  .header-after:after {
    background: rgba(0, 0, 0, 0.1);
    opacity: 0.8;
  }

  /* header layer */

  article.header-layer-container .row .main-layer {
    top: 20rem;
  }

  article.header-layer-container .row .main-layer h1 {
    font-size: 80px;
  }

  .main .testimonial .testi-row {
    padding: 10rem 0 10rem;
  }

  .main .testimonial .testi-row .testi-main-img {
    width: 450px;
    top: -3rem;
  }

  .main .testimonial .testi-row .testi-card {
    margin-top: -10rem;
    margin-left: -2rem;
    padding-right: 8rem;
  }
}

@media only screen and (min-width: 1200px) {
  .pl-xl-0 {
    padding-left: 0;
  }

  .mr-xl-0 {
    margin-right: 0;
  }

  .ml-xl-0 {
    margin-left: 0;
  }

  .main .faq-section .ref-program-box {
    top: -5rem;
    left: 0;
    width: 50%;
    max-height: 200px;
    height: 100%;
  }

  .main .faq-section .ref-program-box .ref-green-line {
    position: absolute;
    bottom: -5px;
    right: -40px;
  }

  .main .faq-section .program-text {
    width: 30%;
    top: -4.2rem;
    margin-left: 1rem;
  }

  .main .faq-section .faq-container {
    padding-top: 7rem;
  }

  .main .faq-section .faq-container .heading-group {
    padding-bottom: 0;
  }

  .main .faq-section .faq-container h2 {
    color: #99992a;
    margin-bottom: 0;
  }

  .main .testimonial .testi-column .testi-bottom-lines {
    right: -1rem;
    bottom: -1rem;
  }

  .main .testimonial .testi-row .testi-card {
    margin-top: -10rem;
    margin-left: -2rem;
    padding-right: 10rem;
  }

  .main .testimonial .testi-row .testi-card .commas-row {
    font-size: 18px;
    width: 120%;
  }

  .main .testimonial .testi-row .testi-card .commas {
    margin: 2rem 0;
    padding: 2rem 0;
  }

  .main .testimonial .testi-row .testi-card .commas .commas-top {
    position: relative;
    top: 30px;
    right: -12rem;
  }

  .main .testimonial .testi-row .testi-card .commas .commas-bottom {
    bottom: 30px;
    left: -12rem;
    width: 50px;
  }

  .main .news .news-row .news-card .news-bottom-lines.second-row-line {
    left: -50px;
  }

  footer.mega-footer .col {
    flex: 1 50%;
  }
}

@media only screen and (min-width: 1400px) {
  /* Styles for large screens (desktops 1024px) and above */

  nav.main-nav {
    /* Mobile menu */
  }

  nav.main-nav ul.menu {
    width: 75%;
    left: inherit;
  }

  nav.main-nav ul.menu li.item {
    display: block;
    width: auto;
    order: 1;
  }

  nav.main-nav ul.menu li.item.active {
    display: block;
  }

  nav.main-nav ul.menu li.logo {
    order: 1;
  }

  nav.main-nav ul.menu li.logo img {
    max-width: 160px;
  }

  nav.main-nav ul.menu li a.left-menu-item {
    font-size: 18px;
  }

  header.main-header {
    background-position: top center;
    min-height: 900px;
  }

  .header-after:after {
    background: rgba(0, 0, 0, 0.2);
    opacity: 1;
  }

  /* header layer */

  article.header-layer-container .row .main-layer h1 {
    font-size: 100px;
  }
}

