@import 'variables';
@import 'fonts';
@import 'basic';

/* navigation and header import*/
@import 'nav';
@import 'homepage-header';
@import 'header-text-layer';

/* Homepage main import */
@import 'homepage-main';


/* Subpages import */
@import '_subpage-header-size';
@import '_news-subpage';
@import '_about-us';
@import '_references';
@import '_cost';
@import '_offer';
@import '_contact';
@import '_ingredients';
@import '_blockhouse';
@import '_architecture';
@import '_projects';
@import 'single-page';

@import '__lines_subpages';
@import '__forms';
@import '__accordion';
@import '__tabs';
@import '__lightbox';
@import '__tables';
@import '__modals';



/* Footer import */
@import 'footer';

/* responsive import */
@import 'responsive';