/*====================================
  Our main styles
=====================================*/
.main {
  .block-house-section {
    min-height: 380px;
    position: relative;
    img.bottom-white-elem {
      position: absolute;
      bottom: -2rem;
      right: 0;
      width: 50%;
      height: max-content;
      min-height: 5%;
    }

    h2 {
      color: $dark-green;
      position: relative;
      z-index: 9999;
      margin-top: 3em;
      @media all and (min-width: 500px){
        margin-top: 1.5em;
      }
    }

    .heading-group {
      position: relative;
      img.line-top {
        position: absolute;
        right: 0;
        top: -85px;
        z-index: 9999;
      }
    }
    .img-wrap img {
      margin-bottom: 2rem;
    }
    .img-column {
      position: relative;
      z-index: 9999;
      .line-bottom {
        position: absolute;
        bottom: -4rem;
        right: 13rem;
        z-index: 9999;
      }
    }

    .picto-row {
      align-items: center;
      justify-content: center;
      figure {
        img {
          max-width: 40px;
          margin: auto;
        }

        figcaption {
          text-align: center;
          font-size: 12px;
          padding-top: 1em;
        }
      }
      @media all and (min-width: 400px){
        flex-flow: nowrap;
      }
      .col {
        align-self: flex-start;
      }
    }
  }


  .special-offers-section, .news-single-section, .b-type-section {
    min-height: 730px;
    background-color: $light-grey;
    h2 {
      color: $heading-color-brown;
    }
    .card-row {
      padding-bottom: 8rem;
      .col {
        display: flex;
        justify-content: center;
      }
      .card {
        background-color: $white;
        padding: 1.5rem;
        position: relative;
        min-height: 300px;
        &:hover {
            box-shadow: 5px 20px 30px rgba(0,0,0,0.2);
            transform: translate3D(0,-1px,0) scale(1.03);
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            transition: all 0.3s ease;
        }
        .card-title {
          color: $dark-green;
          text-transform: uppercase;
          font-family: Arial;
          text-align: center;
          font-weight: 100;
          font-size: 16px;
          &.ref-title {
            color: $heading-color-light-brown;
          }
        }
        .card-text {
          text-align: center;
        }
        a.btn {
          margin: auto;
        }
      }
    }
  }


  .faq-section {
    min-height: 625px;
    position: relative;
    .ref-long-bline {
      position: absolute;
      top: -5rem;
      right: 43.5rem;
    }
    .ref-program-box {
      position: absolute;
      background-image: url("/public/assets/img/homepage/fooldal_referenciaprogram.png");
      background-repeat: no-repeat;
      background-size: cover;
      top: -5rem;
      left: 0;
      width: 100%;
      max-height: 25%;
      height: 100%;
      .ref-green-line {
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }
    .program-text {
      width: 90%;
      top: -4.2rem;
      position: absolute;
      text-align: justify;
      margin-left: 1rem;
      h2.ref-title {
        color: $white;
        margin-top: 0;
        margin-bottom: 0;
      }
      p.ref-text {
        color: $white;
      }
    }
    .faq-container {
      padding-top: 10rem;
      .heading-group {
        padding-bottom: 0;
      }
      h2 {
        color: $light-green;
        margin-bottom: 0;
      }
      .text-highlight {
        color: $light-green;
      }
    }
    .faq-row {
      position: relative;
      z-index: 9999;
      p {
        padding-bottom: 2rem;
      }
    }
  }


  .testimonial {
    min-height: 885px;
    background-image: url("/public/assets/img/homepage/fooldal_rolunkmondtak_BG.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: inherit;
    .line-box {
      position: relative;
      .testi-top-line {
        position: relative;
        top: -5rem;
        left: -15rem;
      }
    }

    .testi-column {
      position: relative;
      .testi-bottom-lines {
        position: absolute;
        right: 0;
        bottom: 0;
      }
    }

    h2 {
      margin-bottom: 0;
    }
    .testi-row {
      padding: 10rem 0 5rem;
      .testi-main-img {
        position: relative;
        top: -10rem;
      }
      .testi-card {
        background-color: white;
        padding: 2rem;
        margin-top: -10rem;
        margin-left: -2rem;
        padding-right: 0;
      }
      .testi-card {
        .commas-row {
          font-size: 18px;
          width: 100%;
        }
        .commas {
          margin: 2rem 0;
          position: relative;
          padding: 2rem 0;
          .commas-top {
            position: relative;
            top: 0;
            right: 0;
          }
          .commas-bottom {
            position: relative;
            bottom: 0;
            left: 0;
            width: 50px;
          }
        }
        p {
          text-align: justify;
        }
      }
    }
  }

  .news {
    background-color: white;
    position: relative;
    padding: 0 0 4rem;
    .m-container {
      position: relative;
      z-index: 99999;
    }
    .news-row {
      padding: 15px;
      h2 {
        margin-top: -3rem;
      }
      .news-card {
        position: relative;
        .news-card-title {
          h4 {
            font-size: 1em;
            font-weight: 100;
            font-family: Arial, 'sans-serif';
            text-transform: uppercase;
          }
        }
        .news-card-text {
          width: 85%;
          padding-bottom: 3rem;
          $font-size: 14px;
          p {
            font-size: $font-size;
            max-width: inherit;
            height: inherit;
            @extend .ellipsis;

          }
        }

        .news-bottom-lines {
          position: absolute;
          right: 0;
          bottom: 0;
        }
      }
    }
  }
}